<section class="bottomMargin">
    <details>
        <summary class="rightSummary">Технические детали</summary>
        <p>Функционал доступен в виде API (JSON), для доступа к которому используйте следующую ссылку (обновляются динамически): <code>{{ domain }}/api/bictracker/keying/<span id="bic_key_sample" class="warning">{% if bic_value %}{{ bic_value }}{% else %}БИК{% endif %}</span>/<span id="account_key_sample" class="warning">{% if acc_value %}{{ acc_value }}{% else %}СЧЁТ{% endif %}</span>/</code></p>
    </details>
</section>
<section>
    <p>Используйте форму ниже для проверки контрольного символа номера счёта или проверки <em>возможной</em> принадлежности счёта указанному БИК согласно алгоритму 1997ого года (до постановления <cite>№732-П</cite>):</p>
    <form role="form" action="" id="bic_keying" name="bic_keying">
        <span class="float_label_div"><input id="bic_key" name="bic_key" form="bic_keying" type="text" inputmode="decimal" autocomplete="on" required maxlength="9" size="9" pattern="^\d{9}$"{% if bic_value %} value="{{ bic_value }}"{% endif %}><label for="bic_key">БИК</label></span>
        <span class="float_label_div"><input id="account_key" name="account_key" form="bic_keying" type="text" inputmode="text" autocomplete="on" required maxlength="20" size="20" pattern="^\d{5}[\dАВСЕНКМРТХавсенкмртх]{1}\d{14}$"{% if acc_value %} value="{{ acc_value }}"{% endif %}><label for="account_key">Номер счёта</label></span>
        <img loading="lazy" decoding="async" id="bic_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Проверяем ключевание...">
    </form>
    <p class="noLetter">
        {% if checkResult is same as(null) %}
            <span id="accCheckResult"></span>
        {% elseif checkResult is same as(false) %}
            <span id="accCheckResult" class="failure">Неверный формат БИКа или счёта</span>
        {% elseif checkResult is same as(true) %}
            <span id="accCheckResult" class="success">Правильное ключевание</span>
        {% else %}
            <span id="accCheckResult" class="failure">Неверное ключевание. Ожидаемый ключ: {{ checkResult }} ({{ firstHalf }}<span class="success">{{ checkResult }}</span>{{ secondHalf }})</span>
        {% endif %}
    </p>
</section>
