<article class="article-content" id="bic_details" lang="ru-RU">
    {%if bicdetails.DATEDEL%}
        <h2 class="bic_info_sub">Информация о закрытии</h2>
        {%if bicdetails.DATEDEL%}<p><h3>Дата удаления из справочника</h3>: {{bicdetails.DATEDEL|date("d/m/Y")}}</p>{%endif%}
        {%if bicdetails.R_CLOSE%}<p><h3>Причина закрытия счёта</h3>: {{bicdetails.R_CLOSE}}</p>{%endif%}
        {%if bicdetails.PRIM1%}<p><h3>Основание для ограничения или исключения</h3>: {{bicdetails.PRIM1}}</p>{%endif%}
        {%if bicdetails.PRIM3%}<p><h3>Основание для аннулировании в Книге <abbr title="государственной регистрации кредитных организаций">ГРКО</abbr></h3>: {{bicdetails.PRIM3}}</p>{%endif%}
        {%if bicdetails.PRIM2%}<p><h3>Ревизиты ликвидационной комиссии</h3>: {{bicdetails.PRIM2}}</p>{%endif%}
    {%endif%}
	<h2 class="bic_info_sub">Информация для расчётов</h2>
	<p><h3>Полное наименование</h3>: {%if bicdetails.NAMEMAXB%}{{bicdetails.NAMEMAXB}}{%else%}{{bicdetails.NAMEP}}{%endif%}</p>
	{%if bicdetails.NAMEMAXF%}<p><h3>Наименование филиала</h3>: {{bicdetails.NAMEMAXF}}</p>{%endif%}
	{%if bicdetails.NAME_SRUS%}<p><h3>Наименование в <abbr title="Society for Worldwide Interbank Financial Telecommunications">SWIFT</abbr></h3>: {{bicdetails.NAME_SRUS}}</p>{%endif%}
	{%if bicdetails.NEWNUM%}<p><h3><abbr title="Банковский идентификационный код">БИК</abbr></h3>: {{bicdetails.NEWNUM}}</p>{%endif%}
	{%if bicdetails.KOD_SWIFT%}<p><h3><abbr title="Банковский идентификационный код">БИК</abbr> системы <abbr title="Society for Worldwide Interbank Financial Telecommunications">SWIFT</abbr></h3>: {{bicdetails.KOD_SWIFT}}</p>{%endif%}
	{%if bicdetails.KSNP%}<p><h3>Корреспондентский счёт</h3>: {{bicdetails.KSNP}}</p>{%endif%}
	{%if bicdetails.OKPO%}<p><h3>Код <abbr title="Общероссийский классификатор предприятий и организаций">ОКПО</abbr></h3>: {{bicdetails.OKPO}}</p>{%endif%}

	<h2 class="bic_info_sub">Контакты</h2>
	{%if bicdetails.RGN%}<p><h3>Регион</h3>: {{bicdetails.RGN}}</p>{%endif%}
	{%if bicdetails.CENTER%}<p><h3>Административный центр</h3>: {{bicdetails.CENTER}}</p>{%endif%}
	{%if bicdetails.ADR%}<p><h3>Адрес</h3>: {{bicdetails.ADR}} <a target="_blank" href="https://www.google.com/maps/search/{{ bicdetails.ADR|url_encode}}"><img src="/img/bic/gomaps.png" class="bic_ext_icon"></a> <a target="_blank" href="https://yandex.ru/maps/?mode=search&amp;text={{ bicdetails.ADR|url_encode}}"><img src="/img/bic/yamaps.png" class="bic_ext_icon"></a></p>{%endif%}
	{%if bicdetails.AT1%}<p><h3>Абонентский телеграф 1</h3>: {{bicdetails.AT1}}</p>{%endif%}
	{%if bicdetails.AT2%}<p><h3>Абонентский телеграф 2</h3>: {{bicdetails.AT2}}</p>{%endif%}
	{%if bicdetails.TELEF%}<p><h3>Телефон{%if bicdetails.TELEF.phones|length > 1%}ы{%endif%}</h3>: 
	    {% for tel in bicdetails.TELEF.phones %}
	        <a target="_blank" href="tel://{{tel.url}}"><img class="bic_ext_icon" src="/img/bic/phone_icon.png">{{tel.phone}}</a>{%if not loop.last%}, {%endif%}
	    {%endfor%}
	    {%if bicdetails.TELEF.dob%}
	        (доб. {{bicdetails.TELEF.dob}})
	    {%endif%}
	    </p>
	{%endif%}
    {%if bicdetails.CKS%}<p><h3>Центр коммутации сообщений</h3>: {{bicdetails.CKS}}</p>{%endif%}
    
	<h2 class="bic_info_sub">Служебная информация</h2>
	{%if bicdetails.REAL%}<p><h3>Код контроля допустимости проведения расчётных операций</h3>: {{bicdetails.REAL}}</p>{%endif%}
	{%if bicdetails.PZN%}<p><h3>Код типа участника расчётов</h3>: {{bicdetails.PZN}}</p>{%endif%}
	{%if bicdetails.UER%}<p><h3>Код типа участника системы электронных расчётов</h3>: {{bicdetails.UER}}</p>{%endif%}
	{%if bicdetails.SROK%}<p><h3>Срок прохождения документов</h3>: {{bicdetails.SROK}}</p>{%endif%}
	{%if bicdetails.REGN%}<p><h3>Регистрационный номер</h3>: {{bicdetails.REGN}}</p>{%endif%}
	{%if bicdetails.NEWKS%}<p><h3>Корреспондентский счёт до нового Плана</h3>: {{bicdetails.NEWKS}}</p>{%endif%}
	{%if bicdetails.PERMFO%}<p><h3>Номер по межфилиальным оборотам</h3>: {{bicdetails.PERMFO}}</p>{%endif%}
	{%if bicdetails.DT_ST%}<p><h3>Дата начала централизованного обмена</h3>: {{bicdetails.DT_ST|date("d/m/Y")}}</p>{%endif%}
	{%if bicdetails.DT_FIN%}<p><h3>Дата завершения централизованного обмена</h3>: {{bicdetails.DT_FIN|date("d/m/Y")}}</p>{%endif%}
	{%if bicdetails.DATE_IN%}<p><h3>Дата включения в справочник</h3>: {{bicdetails.DATE_IN|date("d/m/Y")}}</p>{%endif%}
	{%if bicdetails.DT_IZM%}<p><h3>Дата последнего изменения</h3>: {{bicdetails.DT_IZM|date("d/m/Y")}}</p>{%endif%}
	{%if bicdetails.DATE_CH%}<p><h3>Дата контроля</h3>: {{bicdetails.DATE_CH|date("d/m/Y")}}</p>{%endif%}
	{%if bicdetails.VKEY%}<p><h3>Уникальный код по справочнику <abbr title="Банковский идентификационный код">БИК</abbr></h3>: <a href="/api/bic/{{bicdetails.VKEY|url_encode}}/{{bicdetails.NAMEP|url_encode}}/" target="_blank">{{bicdetails.VKEY}}</a></p>{%endif%}
	{%if bicdetails.BVKEY%}<p><h3>Внутренний код участника расчетов по <abbr title="электронной базе данных">ЭБД</abbr> Книги <abbr title="государственной регистрации кредитных организаций">ГРКО</abbr></h3>: {{bicdetails.BVKEY}}</p>{%endif%}
	{%if bicdetails.FVKEY%}<p><h3>Внутренний код участника расчетов по <abbr title="электронной базе данных">ЭБД</abbr> Книги <abbr title="государственной регистрации кредитных организаций">ГРКО</abbr></h3>: {{bicdetails.FVKEY}}</p>{%endif%}
	
	{%if bicdetails.RKC or bicdetails.BIC_UF or bicdetails.filials or bicdetails.successors or bicdetails.predecessors%}<h2 class="bic_info_sub">Родственные организации</h2>{%endif%}
	{%if bicdetails.RKC%}
	    <p><h3>Расчётно-кассовы{%if bicdetails.RKC|length > 1%}е{%else%}й{%endif%} центр{%if bicdetails.RKC|length > 1%}ы{%endif%}</h3>: 
	        {% for bank in bicdetails.RKC %}
	            <a class="bic_search_result" href="/bictracker/bic/{{bank.VKEY|url_encode}}/{{bank.NAMEP|url_encode}}/"><img class="" src="/img/bic/{%if bank.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{bank.NAMEP}}</span></a>{%if not loop.last%} >>> {%endif%}
	        {%endfor%}
	    </p>
	{%endif%}
	{%if bicdetails.BIC_UF%}
	    <p><h3>Уполномоченны{%if bicdetails.BIC_UF|length > 1%}е{%else%}й{%endif%} филиал{%if bicdetails.BIC_UF|length > 1%}ы{%endif%}</h3>: 
	        {% for bank in bicdetails.BIC_UF %}
	            <a class="bic_search_result" href="/bictracker/bic/{{bank.VKEY|url_encode}}/{{bank.NAMEP|url_encode}}/"><img class="" src="/img/bic/{%if bank.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{bank.NAMEP}}</span></a>{%if not loop.last%} >>> {%endif%}
	        {%endfor%}
	    </p>
	{%endif%}
	{%if bicdetails.filials%}
	    <p><h3>Централизованны{%if bicdetails.filials|length > 1%}е{%else%}й{%endif%} филиал{%if bicdetails.filials|length > 1%}ы{%endif%}</h3>: 
	        {% for bank in bicdetails.filials %}
	            <a class="bic_search_result" href="/bictracker/bic/{{bank.VKEY|url_encode}}/{{bank.NAMEP|url_encode}}/"><img class="" src="/img/bic/{%if bank.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{bank.NAMEP}}</span></a>
	        {%endfor%}
	    </p>
	{%endif%}
	{%if bicdetails.successors%}
	    <p><h3>Преемник{%if bicdetails.successors|length > 1%}и{%endif%}</h3>: 
	        {% for bank in bicdetails.successors %}
	            <a class="bic_search_result" href="/bictracker/bic/{{bank.VKEY|url_encode}}/{{bank.NAMEP|url_encode}}/"><img class="" src="/img/bic/{%if bank.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{bank.NAMEP}}</span></a>{%if not loop.last%} >>> {%endif%}
	        {%endfor%}
	    </p>
	{%endif%}
	{%if bicdetails.predecessors%}
	    <p><h3>Предшественник{%if bicdetails.predecessors|length > 1 or bicdetails.predecessors.0|length > 1%}и{%endif%}</h3>: 
	        {% for predecessor in bicdetails.predecessors %}
	            {% for bank in predecessor %}
    	            {%if bank.VKEY%}<a class="bic_search_result" href="/bictracker/bic/{{bank.VKEY|url_encode}}/{{bank.NAMEP|url_encode}}/"><img class="" src="/img/bic/{%if bank.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{bank.NAMEP}}</span></a>{%if not loop.last%} >>> {%endif%}
    	            {%endif%}
	            {%endfor%}
	            {%if predecessor.VKEY%}
	            <a class="bic_search_result" href="/bictracker/bic/{{predecessor.VKEY|url_encode}}/{{predecessor.NAMEP|url_encode}}"><img class="" src="/img/bic/{%if predecessor.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{predecessor.NAMEP}}</span></a>
	            {%endif%}
	            {%if not loop.last%}<br>{%endif%}
	        {%endfor%}
	    </p>
	{%endif%}
</article>