<p>Someone has requested password reset for your account on <a rel="noopener noreferrer" href="{{ domain }}"></a>.</p>
<p>If it was you, just click 👉 <a rel="noopener noreferrer" href="{{ domain }}/uc/password/{{ user_id }}/{{ token }}">here</a> 👈 and setup new password.</p>
<p>If it was <b>not</b> you, we recommend logging in to the website to let the token get reset. If you have fresh cookies for the website, just opening the website will be enough. You can also check recent security log in your profile <a rel="noopener noreferrer" href="{{ domain }}/uc/sessions">here</a>.</p>
