<section>
    <article class="margin_05rem">
        <details {% if not subservice_name %}class="persistent" open{% endif %}>
            <summary class="right_summary about_section">About</summary>
            <p>This is the section, where you can learn about {{ site_name }}.</p>
            {% if not subservice_name %}
                <p>Select one of the links below to learn more about:</p>
                <ul>
                    <li><a href="/about/me" target="_self" itemprop="url"><span itemprop="name">Me</span></a></li>
                    <li><a href="/about/tech" target="_self" itemprop="url"><span itemprop="name">Technology</span></a></li>
                    <li><a href="/about/tos" target="_self" itemprop="url"><span itemprop="name">Terms of Service</span></a></li>
                    <li><a href="/about/privacy" target="_self" itemprop="url"><span itemprop="name">Privacy Policy</span></a></li>
                    <li><a href="/about/security" target="_self" itemprop="url"><span itemprop="name">Security Policy</span></a></li>
                    <li><a href="/talks/sections/7" target="_self" itemprop="url"><span itemprop="name">Changelog</span></a></li>
                    <li><a href="/about/contacts" target="_self" itemprop="url"><span itemprop="name">Contacts</span></a></li>
                </ul>
            {% endif %}
        </details>
    </article>
    {% if subservice_name %}
        <article class="margin_05rem">
            {% if subservice_name == 'me' %}
                {{ include('about/me.twig') }}
            {% elseif subservice_name == 'tech' %}
                {{ include('about/tech.twig') }}
            {% elseif subservice_name == 'tos' %}
                {{ include('about/tos.twig') }}
            {% elseif subservice_name == 'privacy' %}
                {{ include('about/privacy.twig') }}
            {% elseif subservice_name == 'security' %}
                {{ include('about/security.twig') }}
            {% elseif subservice_name == 'contacts' %}
                {{ include('about/contacts.twig') }}
            {% endif %}
        </article>
    {% endif %}
</section>
