<div class="homePage hWrapper">
    <img loading="lazy" decoding="async" class="navIcon" alt="Projects" data-tooltip="Projects" src="/assets/images/navigation/projects.svg">
    <h2 id="projects" class="homePage blockTitle">Track</h2>
</div>
<section>
    <div class="homePage showcase">
        <a href="/fftracker" class="homePage banner noNewTabIcon">
            <img loading="lazy" decoding="async" alt="Final Fantasy XIV Tracker" src="/assets/images/ogimages/fftracker.png">
            <div>Final Fantasy XIV Tracker</div>
        </a>
        <a href="/bictracker" class="homePage banner noNewTabIcon">
            <img loading="lazy" decoding="async" alt="BIC Tracker" src="/assets/images/ogimages/bictracker.png">
            <div>BIC Tracker</div>
        </a>
    </div>
</section>

<div class="homePage hWrapper">
    <img loading="lazy" decoding="async" class="navIcon" alt="Projects" data-tooltip="Projects" src="/assets/images/navigation/gamepad.svg">
    <h2 id="projects" class="homePage blockTitle">Play</h2>
</div>
<section>
    <div class="homePage showcase">
        <a href="/games/jiangshi" class="homePage banner noNewTabIcon">
            <img loading="lazy" decoding="async" alt="Jiangshi" src="/assets/images/ogimages/jiangshi.png">
            <div>Jiangshi</div>
        </a>
        <a href="/games/radicalresonance" class="homePage banner noNewTabIcon">
            <img loading="lazy" decoding="async" alt="Radical Resonance" src="/assets/images/ogimages/RadicalResonance.png">
            <div>Radical Resonance</div>
        </a>
        <a href="/games/dden" class="homePage banner noNewTabIcon">
            <img loading="lazy" decoding="async" alt="Dangerous Dave: Endless Nightmare" src="/assets/images/ogimages/dden.png">
            <div>Dangerous Dave: Endless Nightmare</div>
        </a>
    </div>
</section>

<div class="homePage hWrapper">
    <img loading="lazy" decoding="async" class="navIcon" alt="Projects" data-tooltip="Projects" src="/assets/images/navigation/talks.svg">
    <h2 id="projects" class="homePage blockTitle">Read</h2>
</div>
<div class="homePage showcase">
    <div class="searchResults">
        {% for post in posts %}
            <article class="post hasbanner nouser">
                <section class="post_header">
                    {% if post.detailedType == 'Changelog' and is_numeric(post.name) %}
                        <h3 class="post_name" id="{{ prettyURL(post.name) }}"><a href="/talks/threads/{{ post.threadid }}">{{ timeTag(post.name, "Y.m.d") }}</a></h3>
                    {% else %}
                        <h3 class="post_name" id="{{ prettyURL(post.name) }}"><a href="/talks/threads/{{ post.threadid }}/{{ prettyURL(post.name) }}" data-tooltip="{{ post.name }}">{{ post.name }}</a></h3>
                    {% endif %}
                </section>
                {% if post.ogimage %}
                    <section class="post_banner">
                        <a href="/talks/threads/{{ post.threadid }}" data-tooltip="{{ post.name }}"><img loading="lazy" decoding="async" alt="{{ post.name }}" src="{{ post.ogimage.ogimage }}"></a>
                    </section>
                {% endif %}
                <section class="post_text">
                    {% if post.type == 'Changelog' or post.detailedType == 'Changelog' %}
                        {{ sanitize(preg_replace(htmlCut(changelog(post.text), 400), '/…(<|$)/ui', '<a href="/talks/threads/' ~ post.threadid ~ '">…</a>$1')) }}
                    {% else %}
                        {{ sanitize(preg_replace(htmlCut(nl2p(post.text), 400), '/…(<|$)/ui', '<a href="/talks/threads/' ~ post.threadid ~ '">…</a>$1')) }}
                    {% endif %}
                </section>
                <section class="post_footer">
                    <div class="post_time_id">
                        {{ timeTag(post.created, "d/m/Y H:i", "post_time") }}
                    </div>
                </section>
            </article>
        {% endfor %}
    </div>
</div>