<tr>
    <td>
        <img loading="lazy" decoding="async" alt="{{ section.detailed_type }}" src="{{ section.icon }}" class="section_icon">
    </td>
    <td>
        <div class="section_name">
            <div class="section_icons">
                {% if section.created|date('U') > 'now'|date('U') %}<span data-tooltip="Scheduled section">⏲</span>{% endif %}
                {% if 'edit_sections' not in permissions %}
                    {% if section.closed %}<span data-tooltip="Closed section">🔒</span>{% endif %}
                    {% if section.private %}<span data-tooltip="Private section">🚷</span>{% endif %}
                {% endif %}
            </div>
            <a href="/talks/{% if edit_mode %}edit/{% endif %}sections/{{ section.section_id|default('section_id') }}">{{ section.name }}</a>
        </div>
        <div class="section_description">{{ section.description }}</div>
    </td>
    <td>{{ section.threads|default('0') }}</td>
    <td>{{ section.posts|default('0') }}</td>
    {% if edit_mode %}
        <td>{{ section.section_id|default('section_id') }}</td>
        {% if 'edit_sections' in permissions %}
            <td>
                <span class="float_label">
                    <input id="section_sequence_{{ section.section_id|default('section_id') }}" class="section_sequence number_spinner" type="number" inputmode="decimal" min="0" max="99" step="1" value="{{ section.sequence }}" data-section="{{ section.section_id|default('section_id') }}" data-initial="{{ section.sequence }}">
                    <label for="section_sequence_{{ section.section_id|default('section_id') }}">&nbsp</label>
                    <img loading="lazy" decoding="async" class="hidden spinner inline" src="/assets/images/spinner.svg" alt="Changing order...">
                </span>
            </td>
            <td>
                <span class="float_label">
                    <input id="section_closed_checkbox_{{ section.section_id|default('section_id') }}" class="section_closed" data-section="{{ section.section_id|default('section_id') }}" type="checkbox"{% if section.closed %} checked{% endif %}>
                    <label for="section_closed_checkbox_{{ section.section_id|default('section_id') }}"></label>
                    <img loading="lazy" decoding="async" class="hidden spinner inline" src="/assets/images/spinner.svg" alt="Opening/closing section {{ section.section_id|default('section_id') }}...">
                </span>
            </td>
            <td>
                <span class="float_label">
                    <input id="section_private_checkbox_{{ section.section_id|default('section_id') }}" class="section_private" data-section="{{ section.section_id|default('section_id') }}" type="checkbox"{% if section.private %} checked{% endif %}>
                    <label for="section_private_checkbox_{{ section.section_id|default('section_id') }}"></label>
                    <img loading="lazy" decoding="async" class="hidden spinner inline" src="/assets/images/spinner.svg" alt="Making section {{ section.section_id|default('section_id') }} public/private...">
                </span>
            </td>
        {% endif %}
    {% endif %}
</tr>
