<tr>
    <td>
        <img loading="lazy" decoding="async" alt="{{ section.detailedType }}" src="{{ section.icon }}" class="section_icon">
    </td>
    <td>
        <div class="section_name">
            <div class="section_icons">
                {% if section.created|date('U') > 'now'|date('U') %}<span data-tooltip="Scheduled section">⏲</span>{% endif %}
                {% if 'editSections' not in permissions %}
                    {% if section.closed %}<span data-tooltip="Closed section">🔒</span>{% endif %}
                    {% if section.private %}<span data-tooltip="Private section">🚷</span>{% endif %}
                {% endif %}
            </div>
            <a href="/talks/{% if editMode %}edit/{% endif %}sections/{{ section.sectionid|default('sectionid') }}/{{ prettyURL(section.name|default('')) }}">{{ section.name }}</a>
        </div>
        <div class="section_description">{{ section.description }}</div>
    </td>
    <td>{{ section.threads|default('0') }}</td>
    <td>{{ section.posts|default('0') }}</td>
    {% if editMode %}
        <td>{{ section.sectionid|default('sectionid') }}</td>
        {% if 'editSections' in permissions %}
            <td>
                <span class="float_label_div">
                    <input id="section_sequence_{{ section.sectionid|default('sectionid') }}" class="section_sequence number_spinner" type="number" inputmode="decimal" min="0" max="99" step="1" value="{{ section.sequence }}" data-section="{{ section.sectionid|default('sectionid') }}" data-initial="{{ section.sequence }}">
                    <label for="section_sequence_{{ section.sectionid|default('sectionid') }}">&nbsp</label>
                    <img loading="lazy" decoding="async" class="hidden spinner inline" src="/assets/images/spinner.svg" alt="Changing order...">
                </span>
            </td>
            <td>
                <span class="radio_and_label">
                    <input id="section_closed_checkbox_{{ section.sectionid|default('sectionid') }}" class="section_closed" data-section="{{ section.sectionid|default('sectionid') }}" type="checkbox"{% if section.closed %} checked{% endif %}>
                    <label for="section_closed_checkbox_{{ section.sectionid|default('sectionid') }}"></label>
                    <img loading="lazy" decoding="async" class="hidden spinner inline" src="/assets/images/spinner.svg" alt="Opening/closing section {{ section.sectionid|default('sectionid') }}...">
                </span>
            </td>
            <td>
                <span class="radio_and_label">
                    <input id="section_private_checkbox_{{ section.sectionid|default('sectionid') }}" class="section_private" data-section="{{ section.sectionid|default('sectionid') }}" type="checkbox"{% if section.private %} checked{% endif %}>
                    <label for="section_private_checkbox_{{ section.sectionid|default('sectionid') }}"></label>
                    <img loading="lazy" decoding="async" class="hidden spinner inline" src="/assets/images/spinner.svg" alt="Making section {{ section.sectionid|default('sectionid') }} public/private...">
                </span>
            </td>
        {% endif %}
    {% endif %}
</tr>
