<tr>
    <td>
        <img loading="lazy" decoding="async" alt="{{ section.detailed_type }}" src="{{ section.icon }}" class="section_icon">
    </td>
    <td>
        <div class="section_name">
            <div class="section_icons">
                {% if section.created > section.published %}
                    <span data-tooltip="Backlog section created on {{ section.created|date('d/m/Y H:i') }}">🕰️</span>
                {% endif %}
                {% if section.created < section.published %}
                    <span data-tooltip="Scheduled section created on {{ section.created|date('d/m/Y H:i') }}">⏲️</span>
                {% endif %}
                {% if 'edit_sections' not in permissions %}
                    {% if section.closed %}<span data-tooltip="Closed section">🔒</span>{% endif %}
                    {% if section.private %}<span data-tooltip="Private section">🚷</span>{% endif %}
                {% endif %}
            </div>
            <a href="/talks/sections/{{ section.section_id|default('section_id') }}">{{ section.name }}</a>
        </div>
        <div class="section_description">{{ section.description }}</div>
    </td>
    <td>{{ section.threads|default('0') }}</td>
    <td>{{ section.posts|default('0') }}</td>
</tr>
