{# Check if user does not have a blog created and we are in a blog root section #}
{% if id == 1 and not session_data.sections.blog %}
    <tab-content>
        <p>Fill in and submit the form below to create your personal blog.</p>
        {{ include('talks/forms/new_section.twig', {'starting_new_blog': true}) }}
    </tab-content>
{% endif %}
{# Check if user does not have a changelog created and we are in a changelog root section #}
{% if id == 3 and not session_data.sections.changelog %}
    <tab-content>
        <p>Fill in and submit the form below to create your changelog.</p>
        {{ include('talks/forms/new_section.twig', {'starting_new_changelog': true}) }}
    </tab-content>
{% endif %}
{# Check if user does not have a knowledgebase created and we are in a knowledgebase section #}
{% if id == 4 and not session_data.sections.knowledgebase %}
    <tab-content>
        <p>Fill in and submit the form below to create your knowledgebase.</p>
        {{ include('talks/forms/new_section.twig', {'starting_new_kb': true}) }}
    </tab-content>
{% endif %}
{% if type != 'Category' and 'can_post' in session_data.permissions and (not closed or 'post_in_closed' in session_data.permissions) %}
    {% if (type != 'Blog' and type != 'Knowledgebase' and type != 'Changelog') or ((type == 'Blog' or type == 'Knowledgebase' or type == 'Changelog') and owned) %}
        <tab-content>
            <p>Fill in and submit the form below to create a new {% if type == 'Knowledgebase' %}article{% elseif type == 'Support' %}ticket{% elseif type == 'Changelog' %}change{% else %}thread{% endif %}.</p>
            {{ include('talks/forms/add_thread.twig') }}
        </tab-content>
    {% endif %}
{% endif %}
{% if (id == 1 and session_data.sections.blog) or (id == 3 and session_data.sections.changelog) or (id == 4 and session_data.sections.knowledgebase) or (id != 1 and id != 3 and id != 4) %}
    {% if inherited_type != 'Blog' and (owned or ('add_sections' in session_data.permissions and (not closed or 'post_in_closed' in session_data.permissions))) %}
        <tab-content>
            <p>Fill in and submit the form below to create a new subsection in the currently selected one.</p>
            {{ include('talks/forms/new_section.twig') }}
        </tab-content>
    {% endif %}
{% endif %}
{% if owned or 'edit_sections' in session_data.permissions %}
    <tab-content>
        {% if edit_mode %}
            {{ include('talks/forms/edit_section.twig') }}
        {% else %}
            <p>For editing this section, please, use the edit mode using the button below.</p>
            <a class="button" href="/talks/edit/sections/{{ section_id }}">Edit mode</a>
        {% endif %}
    </tab-content>
{% endif %}
{% if (owned or 'remove_sections' in session_data.permissions) and not system %}
    <tab-content>
        {% if children.entities or threads.entities %}
            <p>This section has subsections or/and threads. Removal is not possible.</p>
        {% else %}
            <p>Pressing below button will delete the current section completely. <b class="warning">It will not be possible to restore it</b>, so do it after a good and long thinking.</p>
            <p>If section has a custom icon it will not be removed along with the section. Instead, it will be removed during routine check for orphaned files, if the icon file is not linked to anything else.</p>
            <p>If deletion is successful you will be redirected to respective parent section.</p>
            <input role="button" type="button" id="delete_section" value="Delete" data-section="{{ section_id }}">
            <img loading="lazy" decoding="async" id="section_delete_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Deleting section...">
        {% endif %}
    </tab-content>
{% endif %}
