<section lang="ru-RU">
    <article class="margin05rem">
        <details {% if not subServiceName %}class="persistent" open{% endif %}>
            <summary class="rightSummary aboutSection">О сервисе</summary>
            <p>Это БИК Трекер, предназначенный для отслеживания изменений Банковских Идентификационных Кодов, предоставляемых <a href="https://cbr.ru/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/assets/images/tech/CBR.svg" alt="Центральный Банк Российской Федерации">Центральным Банком Российской Федерации</a>.</p>
            <p>Библиотека содержит различную информацию, использующейся в банковских расчётах. Трекер предназначен для визуального отображения этой информации, а также отслеживания некоторых изменений.</p>
            <p>У сервиса есть "официальная" страница на форуме <a href="https://www.banki.ru/forum/?PAGE_NAME=read&FID=29&TID=324456" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/assets/images/icons/banki.ru.svg" alt="banki.ru">banki.ru</a></p>
            {% if not subServiceName %}
                <p>Вы находитесь на главной странице сервиса. Для поиска банков используйте <a href="/bictracker/search" target="_self" itemprop="url"><span itemprop="name">поиск</span></a>. Если вы хотите проверить ключевание счёта, то можете использовать эту <a href="/bictracker/keying" target="_self" itemprop="url"><span itemprop="name">страницу</span></a>.</p>
            {% endif %}
        </details>
    </article>
    {% if subServiceName == 'search' %}
        {{ include('common/elements/search.twig') }}
    {% endif %}
    {% if subServiceName %}
        <article class="margin05rem">
            {% if subServiceName == 'keying' %}
                {{ include('bictracker/keying.twig') }}
            {% elseif subServiceName == 'search' %}
                {{ include('common/pages/search.twig') }}
            {% elseif subServiceName == 'bic' %}
                {{ include('bictracker/bic.twig') }}
            {% elseif subServiceName == 'openbics' %}
                {{ include('common/pages/list.twig') }}
            {% elseif subServiceName == 'closedbics' %}
                {{ include('common/pages/list.twig') }}
            {% endif %}
        </article>
    {% endif %}
</section>
