<details>
    <summary>Alternative links</summary>
    <p>If the content being posted is available on any of the supported websites, you can add links to them below. Links will be shown below the first post in the thread.</p>
    {% for altlink in thread_link_types %}
        <span class="float_label">
            <input type="url" aria-required="false" name="thread_data[alt_links][{{ altlink.type }}]" id="thread_data_{{ altlink.type }}" value="{{ external_links[altlink.type].url }}" placeholder="{{ altlink.type }}" inputmode="url" minlength="0" maxlength="255" pattern="^https:\/\/(www\.)?{{ altlink.regex }}.*$">
            <label for="thread_data_{{ altlink.type }}"><img class="link_icon" loading="lazy" decoding="async" alt="{{ altlink.type }}" src="{{ altlink.icon }}">{{ altlink.type }}</label>
        </span>
    {% endfor %}
</details>