<form role="form" id="edit_section_form" name="edit_section_form" autocomplete="off" class="middle">
    <input form="edit_section_form" type="hidden" name="verb" value="edit" required>
    <input form="edit_section_form" type="hidden" name="cur_section[section_id]" id="cur_section_id" value="{{ section_id }}" required>
    <div class="float_label">
        <input form="edit_section_form" type="text" aria-required="true" required name="cur_section[name]" id="cur_section_name" placeholder="Name" spellcheck="true" inputmode="text" minlength="1" maxlength="64" value="{{ name }}">
        <label for="cur_section_name">Name</label>
    </div>
    {% if 'move_sections' in session_data.permissions %}
        <div class="float_label">
            <input form="edit_section_form" type="number" inputmode="decimal" min="1" value="{{ parent_id }}" step="1" aria-required="true" required name="cur_section[parent_id]" id="cur_section_parent" placeholder="Parent ID">
            <label for="cur_section_parent" data-tooltip="ID of parent section.<br>Change it to move the section.">Parent ID</label>
        </div>
        <div class="float_label">
            <input form="edit_section_form" type="number" inputmode="decimal" min="0" max="99" value="{{ sequence|default('0') }}" step="1" class="number_spinner" aria-required="false" name="cur_section[order]" id="cur_section_sequence" placeholder="Order">
            <label for="cur_section_sequence">Order</label>
        </div>
    {% endif %}
    <span class="float_label">
        <input form="edit_section_form" id="cur_section_private" class="section_private" name="cur_section[private]" type="checkbox"{% if private %} checked{% endif %}>
        <label for="cur_section_private" data-tooltip="Public sections can be viewed by anyone.<br>Private ones can be viewed only by creator and people with special permission.<br>Click to change."></label>
    </span>
    <span class="float_label">
        <input form="edit_section_form" id="cur_section_closed" class="section_closed" name="cur_section[closed]" type="checkbox"{% if closed %} checked{% endif %}>
        <label for="cur_section_closed" data-tooltip="Open sections allow posting in them.<br>Closed ones do not.<br>Click to change."></label>
    </span>
    <br>
    <div class="float_label w100pc">
        <textarea id="cur_section_description" form="edit_section_form" name="cur_section[description]" aria-required="false" placeholder="Description" spellcheck="true" inputmode="text" minlength="0" maxlength="100">{{ description }}</textarea>
        <label for="cur_section_description">Description</label>
    </div>
    <br>
    {{ include('common/elements/selectcustom.twig', {'form_name': 'edit_section_form', 'placeholder': 'Type', 'input_name': 'cur_section[type]', 'items': section_types, 'required': true, 'selected': type}, with_context = false) }}
    {{ include('common/elements/imageupload.twig', {'form_name': 'edit_section_form', 'placeholder': 'Custom icon', 'input_name': 'cur_section[icon]', 'preview_classes': 'middle section_icon', 'required': false, 'image_url': icon}, with_context = false) }}
    <div class="float_label">
        <input form="edit_section_form" id="cur_section_clear_icon" name="cur_section[clear_icon]" type="checkbox">
        <label for="cur_section_clear_icon" data-tooltip="If checked will remove custom icon for the section, replacing it with the default icon for selected section type.<br>Physical file will not be removed on update, it will only be unlinked from the section.<br>Physical file will be removed during routine cleaning of orphaned files, if it is not linked to anything else.">Remove custom icon</label>
    </div>
    <br>
    <input role="button" form="edit_section_form" type="submit" name="cur_section[submit]" id="edit_section_submit" formaction="/api/talks/sections" formmethod="post" formtarget="_self" value="Update">
    <img id="edit_section_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Creating section...">
</form>
