<post-form>
    {% if not new_thread %}
        <form role="form" id="post_form" name="post_form" autocomplete="off" class="middle">
    {% endif %}
        <input type="hidden" name="verb" value="{{ verb }}" required>
        {% if not new_thread %}
            <input type="hidden" name="post_data[thread_id]" value="{{ thread_id }}" required>
            {% if verb == 'add' %}
                <input type="hidden" id="replying_to" name="post_data[reply_to]" value="">
            {% endif %}
        {% endif %}
        {% if verb == 'edit' %}
            <input type="hidden" name="post_data[post_id]" value="{{ post_id }}">
        {% endif %}
        <div class="wrapper_for_tinymce">
            <textarea id="post_text" name="post_data[text]" placeholder="Text" spellcheck="true" wrap="soft">{{ text }}</textarea>
            <label for="post_text" class="label_for_tinymce">{% if verb == 'add' %}{% if new_thread %}Text{% else %}Replying to thread{% endif %}{% else %}Updating post{% endif %}</label>
        </div>
        {% if verb == 'edit' and 'hide_update' in permissions %}
            <div class="float_label">
                <input id="post_hide_update" name="post_data[hide_update]" type="checkbox">
                <label for="post_hide_update" data-tooltip="If checked and there is a text change, the `updated` time of the post will not be changed.">Hide update</label>
            </div>
        {% endif %}
        {% if verb == 'edit' and author != current_user and author not in system_users %}
            {{ include('common/elements/change_reason.twig', {'form_name': 'post_form', 'array_name': 'post_data'}, with_context = false) }}
            <br>
        {% endif %}
        {% if not new_thread %}
            <br>
            <div id="post_form_submit_wrapper">
                <input role="button" type="submit" name="post_data[submit]" id="post_form_submit" formaction="/api/talks/posts" formmethod="post" formtarget="_self" value="{% if verb == 'add' %}Reply{% else %}Update{% endif %}">
            </div>
            <img id="post_form_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="{% if verb == 'add' %}Posting{% else %}Updating{% endif %}..." loading="lazy" decoding="async">
        {% endif %}
    {% if not new_thread %}
        </form>
    {% endif %}
</post-form>
