{% if edit_mode %}
    {{ include('talks/forms/post.twig', {'verb': 'edit', 'new_thread': false, 'thread_id': thread_id, 'post_id': id, 'text': text, 'permissions': session_data.permissions}, with_context = false) }}
{% else %}
    {{ include('common/elements/post.twig', post) }}
{% endif %}
{% if (edit_mode or history) and 'view_posts_history' in session_data.permissions %}
    <h2>Version History</h2>
    {% if history|length > 1 %}
        <ol class="post_history" reversed>
            {% for version, selected in history %}
                {% if selected %}
                    <li class="selected">{{ timeTag(version, "d/m/Y H:i") }}</li>
                {% else %}
                    <li><a href="/talks/edit/posts/{{ post.id }}/{{ version }}">{{ timeTag(version, "d/m/Y H:i") }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    {% else %}
        <p>There have been no edits to the text of this post.</p>
    {% endif %}
{% endif %}
{% if edit_mode and 'remove_posts' in session_data.permissions %}
    <br><br><br>
    <details>
        <summary class="failure middle">Post removal</summary>
        <form role="form" id="delete_post_form" name="delete_post_form" autocomplete="off" >
            <p>Pressing below button will delete the current post completely. <b class="warning">It will not be possible to restore it</b>, so do it after a good and long thinking.</p>
            <p>If post has attachments they will not be removed along with the thread. Instead, they will be removed during routine check for orphaned files, if they are not linked to anything else.</p>
            <p>If deletion is successful you will be redirected to respective parent thread.</p>
            <input role="button" type="button" id="delete_post" value="Delete" data-post="{{ id }}">
            <img loading="lazy" decoding="async" id="post_delete_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Deleting post...">
        </form>
    </details>
{% endif %}
