<div class="middle"><img loading="lazy" decoding="async" class="avatar gallery_zoom" alt="User's avatar" id="current_avatar" src="{{ user_data.current_avatar|default('/assets/images/avatar.svg') }}"></div>
<div class="middle">{{ user_data.username }}</div>
{% if user_data.about %}
    <div id="about_user">{{ sanitize(user_data.about) }}</div>
{% endif %}
{% if fftracker.characters %}
    <section>
        <div class="middle">Linked FFXIV characters:</div>
        <ul class="search_results">
            {% for character in fftracker.characters %}
                <li>{{ include('common/elements/entitycard.twig', character) }}</li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
{% if threads %}
    <section>
        <div class="middle">Last created threads:</div>
        <ul class="search_results">
            {% for thread in threads %}
                <li>{{ include('common/elements/entitycard.twig', thread) }}</li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
{% if posts %}
    <section>
        <div class="middle">Last posts:</div>
        {% for post in posts %}
            {% set post = post|merge({'no_user': true, 'noeditedtime': true, 'htmlcut': true}) %}
            {{ include('common/elements/post.twig', post) }}
        {% endfor %}
    </section>
{% endif %}
