<image-carousel>
    <image-carousel-prev>❰</image-carousel-prev>
    <ul class="image_carousel_list">
        {% for image in images %}
            {% if image.href %}
                <li>
                    <figure>
                        <a class="gallery_zoom no_new_tab_icon" href="{{ image.href }}" target="_blank">
                            <img loading="lazy" decoding="async" src="{% if image.thumb %}{{ image.thumb }}{% else %}{{ image.href }}{% endif %}" alt="{% if image.alt %}{{ image.alt }}{% else %}{{ basename(image.href) }}{% endif %}">
                            <div>{{ loop.index }}/{{ images|length }}</div>
                        </a>
                        <figcaption>{% if image.caption %}{{ sanitize(image.caption) }}{% else %}{% if image.alt %}{{ image.alt }}{% else %}{{ basename(image.href) }}{% endif %}{% endif %}</figcaption>
                    </figure>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <image-carousel-next>❱</image-carousel-next>
</image-carousel>
