<article class="post{% if post.showbanner == true and post.og_image %} hasbanner{% endif %}{% if post.nouser %} nouser{% endif %}">
    <section class="post_header">
        {% if post.noname != true %}
            {% if post.detailedType == 'Changelog' and is_numeric(post.name) %}
                <div class="post_name"><a href="/talks/threads/{{ post.thread_id }}">{{ timeTag(post.name, "Y.m.d") }}</a></div>
            {% else %}
                <div class="post_name"><a href="/talks/threads/{{ post.thread_id }}/{{ prettyURL(post.name) }}" data-tooltip="{{ post.name }}">{{ post.name }}</a></div>
            {% endif %}
        {% endif %}
        <div class="post_time_id">
            {{ timeTag(post.created, "d/m/Y H:i", "post_time") }}
            {% if post.noPostId != true %}
                <div class="post_id_wrapper">
                    <h2 class="post_id" id="post_{{ post.id }}">#{{ post.id }}</h2>
                    <a class="post_id_link" target="_blank" href="/talks/posts/{{ post.id }}"></a>
                </div>
            {% endif %}
        </div>
    </section>
    {% if post.showbanner == true and post.og_image %}
        <section class="post_banner">
            <a href="/talks/threads/{{ post.thread_id }}" data-tooltip="{{ post.name }}"><img loading="lazy" decoding="async" alt="{{ post.name }}" src="{{ post.og_image }}"></a>
        </section>
    {% endif %}
    {% if post.htmlcut == true %}
        <section class="post_text">
            {% if post.type == 'Changelog' or post.detailedType == 'Changelog' %}
                {{ sanitize(preg_replace(htmlCut(changelog(post.text)), '/…(<|$)/ui', '<a href="/talks/threads/' ~ post.thread_id ~ '">…</a>$1')) }}
            {% else %}
                {{ sanitize(preg_replace(htmlCut(nl2p(post.text)), '/…(<|$)/ui', '<a href="/talks/threads/' ~ post.thread_id ~ '">…</a>$1')) }}
            {% endif %}
        </section>
    {% else %}
        <section class="post_text">
            {% if post.nouser != true %}
                <section class="post_user">
                    <div class="post_username"><a href="/talks/users/{{ post.author }}">{{ post.author_name }}</a></div>
                    <div class="post_avatar"><img loading="lazy" decoding="async" alt="{{ post.author_name }}" src="{{ post.avatar }}" class="avatar"></div>
                </section>
            {% endif %}
            {% if post.type == 'Changelog' or post.detailedType == 'Changelog' %}
                {{ sanitize(changelog(post.text)) }}
            {% else %}
                {{ sanitize(nl2p(post.text)) }}
            {% endif %}
        </section>
    {% endif %}
    <section class="post_footer">
        <like-dis data-post_id="{{ post.id }}" data-liked="{% if post.isLiked is null %}0{% else %}{{ post.isLiked }}{% endif %}">
            <input type="button" value="👍" class="like_button"{% if 'canLike' not in session_data.permissions %} disabled{% endif %} data-tooltip="{% if post.isLiked > 0 %}Remove like{% else %}Like{% endif %}">
            <span class="likes_count{% if post.isLiked > 0 %} success{% endif %}">{{ post.likes }}</span>
            <input type="button" value="👎" class="dislike_button"{% if 'canLike' not in session_data.permissions %} disabled{% endif %} data-tooltip="{% if post.isLiked < 0 %}Remove dislike{% else %}Dislike{% endif %}">
            <span class="dislikes_count{% if post.isLiked < 0 %} failure{% endif %}">{{ post.dislikes }}</span>
            <img loading="lazy" decoding="async" class="hidden inline spinner" src="/assets/images/spinner.svg" alt="Registering preference...">
        </like-dis>
        <div class="post_icons">
            {% if allowReplyTo and 'canPost' in session_data.permissions and (not closed or 'postInClosed' in session_data.permissions) %}
                <input type="button" class="reply_to_button" data-post_id="{{ post.id }}" data-tooltip="Reply to this post" value="📩">
            {% endif %}
            {% if post.created|date('U') > 'now'|date('U') %}<span data-tooltip="Scheduled post">⏲</span>{% endif %}
            {% if post.locked %}
                {% if owned %}
                    {% if 'editLocked' in session_data.permissions and 'editOwnPosts' in session_data.permissions %}
                        <a class="button" href="/talks/edit/posts/{{ post.id }}" data-tooltip="Edit">✏</a>
                    {% endif %}
                    <span data-tooltip="Locked post">🔒</span>
                {% else %}
                    {% if 'editLocked' in session_data.permissions and 'editOthersPosts' in session_data.permissions %}
                        <a class="button" href="/talks/edit/posts/{{ post.id }}" data-tooltip="Edit">✏</a><span data-tooltip="Locked post">🔒</span>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if (owned and 'editOwnPosts' in session_data.permissions) or (not owned and 'editOthersPosts' in session_data.permissions) %}
                    <a class="button" href="/talks/edit/posts/{{ post.id }}" data-tooltip="Edit">✏</a>
                {% endif %}
            {% endif %}
            {% if post.attachments|length > 0 %}
                <input type="button" class="toggle_details" data-details-id="post_attachments_{{ post.id }}" data-tooltip="List of {{ post.attachments|length }} attachment{% if post.attachments|length > 1 %}s{% endif %}" value="📎">
            {% endif %}
            {% if post.private %}<span data-tooltip="Private post">🚷</span>{% endif %}
            {% if post.system %}<span data-tooltip="System post">⚠</span>{% endif %}
        </div>
        {% if post.attachments|length > 0 %}
            <details class="noMarker post_attachments" id="post_attachments_{{ post.id }}">
                <summary></summary>
                <table>
                    <tr>
                        <th>Filename</th>
                        <th>Type</th>
                        <th>Size</th>
                    </tr>
                    {% for attachment in post.attachments %}
                        <tr>
                            <td><a href="{{ uploadedLink(attachment.file_id ~ '.' ~ attachment.extension) }}" target="_blank">{{ attachment.name }}</a></td>
                            <td>{{ attachment.mime }}</td>
                            <td>{{ cuteBytes(attachment.size) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </details>
        {% endif %}
        {% if post.noeditedtime != true %}
            <div class="post_edited">{% if post.updated > post.created %}{% if 'viewPostsHistory' in session_data.permissions %}<a href="/talks/posts/{{ post.id }}/#Version_History">Edited</a>{% else %}Edited{% endif%} {{ timeTag(post.updated, "d/m/Y H:i", "post_time") }} by <a href="/talks/users/{{ post.editor }}">{{ post.editor_name }}</a>{% endif %}</div>
        {% endif %}
    </section>
</article>
