<div id="ff_achievements" class="ff_tabcontent">
    {% for categoryname, category in statistics.other.achievements %}
        <h2 class="ff_stat_title">Top 20 rarest {{categoryname|raw}} achievements</h2>
        <div>
            <details><summary>Achievements' pages</summary>
                {% for row in category %}
                    {{ include('ffxiv__entity_card.twig', row) }}
                {%endfor%}
            </details>
        </div>
        <div id="ff_chart_other_achievement_{{categoryname|replace({' ': '', '&': '', ';': ''})}}" data-type="bar" data-chart="
            {% for row in category %}
                {%if loop.first%}[{% set array = ['Achievement','Characters'] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                {% set array = [row.name,row.count] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                {%if not loop.last%},{%endif%}
                {%if loop.last%}]{%endif%}
            {%endfor%}
        "></div>
    {%endfor%}
</div>
