<div id="ff_astrology" class="ff_tabcontent">
    {% for categoryname, category in statistics.characters.guardians %}
        <h2 class="ff_stat_title">{{categoryname|capitalize}} population distribution by Guardian</h2>
        <div id="ff_chart_guardians_{{categoryname}}" data-type="pie" data-chart="
            {% for row in category %}
                {%if loop.first%}[{% set array = ['Guardian','Characters'] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                {% set array = [row.value,row.count] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                {%if not loop.last%},{%endif%}
                {%if loop.last%}]{%endif%}
            {%endfor%}
            " data-colors="
                {% set array = category|column('color') %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
        "></div>
    {%endfor%}
    {% for categoryname, category in statistics.cities.guardians %}
        <h2 class="ff_stat_title">Guardians' distribution in {{categoryname}}</h2>
        <div id="ff_chart_city_guardians_{{categoryname|replace({' ': '', '\'': ''})}}" data-type="pie" data-chart="
            {% for row in category %}
                {%if loop.first%}[{% set array = ['Guardian','Characters'] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                {% set array = [row.value,row.count] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                {%if not loop.last%},{%endif%}
                {%if loop.last%}]{%endif%}
            {%endfor%}
            " data-colors="
                {% set array = category|column('color') %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
        "></div>
    {%endfor%}
    {% for categoryname, category in statistics.grand_companies.guardians %}
        <h2 class="ff_stat_title">Guardian distribution in {{categoryname}}</h2>
        <div id="ff_chart_{{categoryname|replace({' ': ''})}}_guardian" data-type="pie" data-chart="
            {% for row in category %}
                {%if loop.first%}[{% set array = ['Guardian','Characters'] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                {% set array = [row.value,row.count] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                {%if not loop.last%},{%endif%}
                {%if loop.last%}]{%endif%}
            {%endfor%}
            " data-colors="
                {% set array = category|column('color') %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
        "></div>
    {%endfor%}
</div>