<div id="ff_characters" class="ff_tabcontent">
    <h2 class="ff_stat_title">Jobs popularity</h2>
    <div id="ff_chart_character_jobs" data-type="bar" data-chart="
        {% for key, row in statistics.characters.jobs %}
            {%if loop.first%}[{% set array = ['Job','Total level'] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
            {% set array = [key,row] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
            {%if not loop.last%},{%endif%}
            {%if loop.last%}]{%endif%}
        {%endfor%}
    "></div>
    {% for categoryname, category in statistics.characters.changes %}
        <h2 class="ff_stat_title">Top 20 characters with most {{categoryname}} changes</h2>
        <div>
            <details><summary>Characters' pages</summary>
                {% for row in category %}
                    {{ include('ffxiv__entity_card.twig', row) }}
                {%endfor%}
            </details>
        </div>
        <div id="ff_chart_character_changes_{{categoryname}}" data-type="bar" data-chart="
            {% for row in category %}
                {%if loop.first%}[{% set array = ['Character','Changes'] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                {% set array = [row.name, row.count] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                {%if not loop.last%},{%endif%}
                {%if loop.last%}]{%endif%}
            {%endfor%}
        "></div>
    {%endfor%}
    {% for categoryname, category in statistics.characters.xgroups %}
        <h2 class="ff_stat_title">Top 20 characters who left most {{categoryname}}</h2>
        <div>
            <details><summary>Characters' pages</summary>
                {% for row in category %}
                    {{ include('ffxiv__entity_card.twig', row) }}
                {%endfor%}
            </details>
        </div>
        <div id="ff_chart_character_xgroups_{{categoryname|replace({' ': ''})}}" data-type="bar" data-chart="
            {% for row in category %}
                {%if loop.first%}[{% set array = ['Character','Groups'] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                {% set array = [row.name,row.count] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                {%if not loop.last%},{%endif%}
                {%if loop.last%}]{%endif%}
            {%endfor%}
        "></div>
    {%endfor%}
    <h2 class="ff_stat_title">Top 20 characters by number of linkshells</h2>
    <div>
        <details><summary>Characters' pages</summary>
            {% for row in statistics.characters.groups.linkshell %}
                {{ include('ffxiv__entity_card.twig', row) }}
            {%endfor%}
        </details>
    </div>
    <div id="ff_chart_character_groups_linkshell" data-type="bar" data-chart="
        {% for row in statistics.characters.groups.linkshell %}
            {%if loop.first%}[{% set array = ['Character','Linkshell'] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
            {% set array = [row.name,row.count] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
            {%if not loop.last%},{%endif%}
            {%if loop.last%}]{%endif%}
        {%endfor%}
    "></div>
    <h2 class="ff_stat_title">Characters distribution based on groups' participation</h2>
    <div>Characters without any groups: {{statistics.characters.no_groups}}</div>
    <div id="ff_chart_character_groups_participation" data-type="pie" data-chart="
        {% for row in statistics.characters.groups.participation %}
            {%if loop.first%}[{% set array = ['Participating in','Characters'] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
            {% set array = [row.value,row.count] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
            {%if not loop.last%},{%endif%}
            {%if loop.last%}]{%endif%}
        {%endfor%}
    "></div>
    <h2 class="ff_stat_title">Top 20 PvP players based on matches number</h2>
    <div>
        <details><summary>Characters' pages</summary>
            {% for row in statistics.characters.most_pvp %}
                {{ include('ffxiv__entity_card.twig', row) }}
            {%endfor%}
        </details>
    </div>
    <div id="ff_chart_characters_most_pvp" data-type="bar" data-chart="
        {% for row in statistics.characters.most_pvp %}
            {%if loop.first%}[{% set array = ['Character','Matches'] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
            {% set array = [row.name,row.count] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
            {%if not loop.last%},{%endif%}
            {%if loop.last%}]{%endif%}
        {%endfor%}
    "></div>
</div>
