{% if serviceName == 'bictracker' %}
    <p>Показано {{ searchResult.entities|length }} записей из {{ searchresult.count }}.</p>
{% else %}
    <p>Showing {{ searchResult.entities|length }} from total of {{ searchresult.count }}.</p>
{% endif %}
<div class="searchResults">
    {% for entity in searchResult.entities %}
        {{ include('common/elements/entitycard.twig', entity) }}
    {% endfor %}
</div>
