{# Set link variable based on type #}
{% if serviceName == 'bictracker' %}
    {% set actionURL = '/bictracker/search/' %}
{% elseif serviceName == 'fftracker' %}
        {% set actionURL = '/fftracker/search/' %}
{% else %}
    {% set actionURL = '/search/' %}
{% endif %}
{# Render the form itself #}
<section>
    {% if serviceName == 'bictracker' %}
        <p>Введите БИК, SWIFT, название банка, его адрес, регистрационный номер или номер счёта.</p>
    {% elseif serviceName == 'fftracker' %}
        <p>Enter character, achievement or group ID or part of the name, biography, estate message or other description.</p>
    {% endif %}
    <form role="search" class="searchForm" data-baseURL="{{ actionURL }}" action="">
        <span class="float_label_div" id="searchLabel"><input id="searchField" role="searchbox" type="search" inputmode="search" autocomplete="on" maxlength="100"{% if searchvalue is defined %} value="{{searchvalue}}"{% else %} autofocus{% endif %}><label for="searchField">{% if serviceName == 'bictracker' %}Термин для поиска{% else %}Search term{% endif %}</label></span>
        <input role="button" type="submit" id="search" value="{% if serviceName == 'bictracker' %}Поиск{% else %}Search{% endif %}">
    </form>
</section>
<section>
    {% if serviceName == 'bictracker' %}
        <p class="relative">Библиотека обновлена <time datetime="{{ bicDate|date('Y-m-d') }}">{{ bicDate|date('d.m.Y') }}</time>.<input class="refresh" id="bicRefresh" alt="Обновить библиотеку" data-tooltip="Обновить библиотеку" type="image" src="/img/refresh.svg"></p>
    {% endif %}
    {% for type, subResult in searchresult %}
        <p>
            {% if type == 'openBics' %}
                Открытых БИК:
            {% elseif type == 'closedBics' %}
                Закрытых БИК:
            {% elseif type == 'achievements' %}
                Achievements:
            {% elseif type == 'characters' %}
                Characters:
            {% elseif type == 'freecompanies' %}
                Free Companies:
            {% elseif type == 'pvpteams' %}
                PvP Teams:
            {% elseif type == 'linkshells' %}
                Linkshells:
            {% endif %}
            {% if subResult.count>subResult.results|length %}
                {# Set list link #}
                {% if type == 'openBics' %}
                    {% set listURL = '/bictracker/open/' %}
                {% elseif type == 'closedBics' %}
                    {% set listURL = '/bictracker/closed/' %}
                {% elseif type == 'achievements' %}
                    {% set listURL = '/fftracker/achievements/' %}
                {% elseif type == 'characters' %}
                    {% set listURL = '/fftracker/characters/' %}
                {% elseif type == 'freecompanies' %}
                    {% set listURL = '/fftracker/freecompanies/' %}
                {% elseif type == 'pvpteams' %}
                    {% set listURL = '/fftracker/pvpteams/' %}
                {% elseif type == 'linkshells' %}
                    {% set listURL = '/fftracker/linkshells/' %}
                {% endif %}
                {# Show link itself #}
                <a href="{{ listURL }}{{ searchvalue|url_encode }}">{{ subResult.count }}</a>
            {% else %}
                {{ subResult.count }}
            {% endif %}
        </p>
        <div class="searchResults">
            {% for entity in subResult.results %}
                {{ include('common/elements/entitycard.twig', entity) }}
            {% endfor %}
        </div>
    {% endfor %}
</section>
