{% if format == 'html' %}
    <section>
        <article>
            <ul>
                {% for key, entity in sitemap_links %}
                    <li>
                        <a class="sitemaplink" id="sitemaplink_{{ key }}" href="{{ domain }}/{% if index %}sitemap/{{ format }}/{% endif %}{{ entity.loc }}" target="_blank">{{ entity.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </section>
{% elseif format == 'xml' %}
{% if index %}
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
{% for entity in sitemap_links %}
    <sitemap>
        <loc>{{ domain }}/sitemap/{{ format }}/{{ entity.loc }}</loc>
    </sitemap>
{% endfor %}
</sitemapindex>
{% else %}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
{% for entity in sitemap_links %}
    <url>
        <loc>{{ domain }}/{{ entity.loc }}</loc>
{% if entity.lastmod %}
    <lastmod>{{ entity.lastmod|date('c') }}</lastmod>
{% endif %}
{% if entity.changefreq %}
        <changefreq>{{ entity.changefreq }}</changefreq>
{% endif %}
    </url>
{% endfor %}
</urlset>
{% endif %}
{% elseif format == 'txt' %}
{% for entity in sitemap_links %}
{{ domain }}/{% if index %}sitemap/{{ format }}/{% endif %}{{ entity.loc }}
{% endfor %}
{% endif %}
