<p class="middle">Current avatar:</p>
<div class="middle"><img loading="lazy" decoding="async" class="avatar" alt="Your current avatar" id="currentAvatar" src="{{ session_data.avatar|default('/img/avatar.svg') }}"></div>
<p class="middle">Select avatar from previous uploads:</p>
<ul id="avatars_list">
    {% if avatars %}
        {% for avatar in avatars %}
            <li id="{{ avatar.fileid }}">
                <span class="radio_and_label">
                    <input id="avatar_{{ loop.index }}" type="radio"{% if avatar.current %} checked{% endif %}>
                    <label for="avatar_{{ loop.index }}">
                        <img loading="lazy" decoding="async" alt="Avatar {{ loop.index }}" src="{{ avatar.url }}" class="avatar">
                    </label>
                </span>
                <input id="del_{{ loop.index }}" alt="Delete avatar" type="image" class="delete_avatar{% if avatar.current %} hidden{% endif %}"{% if avatar.current %} disabled{% endif %} src="/img/close.svg">
            </li>
        {% endfor %}
    {% endif %}
</ul>
<form class="middle" id="profile_avatar">
    <p>Upload new avatar:</p>
    <image-upload>
        <div class="float_label_div">
            <input form="profile_avatar" type="file" aria-required="false" name="avatar[file]" id="new_avatar_file">
            <label for="new_avatar_file">New avatar</label>
        </div>
        <img loading="lazy" decoding="async" alt="Preview of" src="/img/avatar.svg" class="avatar middle hidden" id="previewAvatar">
    </image-upload>
    <input role="button" form="profile_avatar" type="submit" name="submit" id="avatar_submit" formaction="{{ url }}" formmethod="post" formtarget="_self" value="Upload">
    <img id="avatar_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Uploading avatar...">
</form>
