<form class="middle" id="profile_username">
    <div class="float_label_div">
        <input form="profile_username" spellcheck="false" data-original="{{ userData.username }}" value="{{ userData.username }}" type="text" aria-required="true" required name="username" id="username_value" placeholder="Username" autocomplete="username" inputmode="text" minlength="1" maxlength="64" pattern="^[\p{L}\d.!#$%&'*+\/=?^_`{|}~\- ]{1,64}$">
        <label for="username_value">Username</label>
    </div>
    <input role="button" form="profile_username" type="submit" name="submit" id="username_submit" formaction="{{ url }}" formmethod="post" formtarget="_self" value="Change">
    <img loading="lazy" decoding="async" id="username_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Changing username...">
</form>
<hr/>
<form class="middle" id="profile_details">
    <p>Form below auto-saves 10 seconds after any changes.</p>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.name.firstname }}" type="text" aria-required="false" name="details[name][firstname]" id="firstname_value" placeholder="First name" autocomplete="given-name" spellcheck="true" inputmode="text" minlength="0" maxlength="100" pattern="[\p{L}\d\x27 \.,]{0,100}">
        <label for="firstname_value">First name</label>
    </div>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.name.lastname }}" type="text" aria-required="false" name="details[name][lastname]" id="lastname_value" placeholder="Last name" autocomplete="family-name" spellcheck="true" inputmode="text" minlength="0" maxlength="100" pattern="[\p{L}\d\x27 \.,]{0,100}">
        <label for="lastname_value">Last name</label>
    </div>
    <br/>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.name.middlename }}" type="text" aria-required="false" name="details[name][middlename]" id="middlename_value" placeholder="Middle name" autocomplete="additional-name" spellcheck="true" inputmode="text" minlength="0" maxlength="100" pattern="[\p{L}\d\x27 \.,]{0,100}">
        <label for="middlename_value">Middle name</label>
    </div>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.name.fathername }}" type="text" aria-required="false" name="details[name][fathername]" id="fathername_value" placeholder="Father's name" autocomplete="on" spellcheck="true" inputmode="text" minlength="0" maxlength="100" pattern="[\p{L}\d\x27 \.,]{0,100}">
        <label for="fathername_value">Father's name</label>
    </div>
    <br/>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.name.prefix }}" type="text" aria-required="false" name="details[name][prefix]" id="prefix_value" placeholder="Prefix" autocomplete="honorific-prefix" spellcheck="true" inputmode="text" minlength="0" maxlength="25" pattern="[\p{L}\d\x27 \.,]{0,25}">
        <label for="prefix_value">Prefix</label>
    </div>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.name.suffix }}" type="text" aria-required="false" name="details[name][suffix]" id="suffix_value" placeholder="Suffix" autocomplete="honorific-suffix" spellcheck="true" inputmode="text" minlength="0" maxlength="25" pattern="[\p{L}\d\x27 \.,]{0,25}">
        <label for="suffix_value">Suffix</label>
    </div>
    <br/>
    <div class="float_label_div">
        <select form="profile_details" id="sex_value" autocomplete="sex" name="details[sex]">
            <option value="null"{% if userData.sex is null %} selected{% endif %}>None or other</option>
            <option value="0"{% if userData.sex is same as(0) %} selected{% endif %}>Female</option>
            <option value="1"{% if userData.sex == 1 %} selected{% endif %}>Male</option>
        </select>
        <label for="sex_value">Sex</label>
    </div>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.dates.birthday }}" type="date" aria-required="false" name="details[dates][birthday]" id="birthday_value" placeholder="Birthday" autocomplete="bday" inputmode="numeric">
        <label for="birthday_value">Birthday</label>
    </div>
    <br/>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.country }}" type="text" aria-required="false" name="details[country]" id="country_value" placeholder="Country" autocomplete="country-name" inputmode="text" minlength="0" maxlength="60" pattern="[\p{L}\d\x27 \.,]{0,60}">
        <label for="country_value">Country</label>
    </div>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.city }}" type="text" aria-required="false" name="details[city]" id="city_value" placeholder="City" autocomplete="address-level2" inputmode="text" minlength="0" maxlength="200" pattern="[\p{L}\d\x27 \.,]{0,200}">
        <label for="city_value">City</label>
    </div>
    <br/>
    <div class="float_label_div">
        <select form="profile_details" id="timezone_value" name="details[timezone]">
            {% for timezone, details in timezones %}
                <option value="{{ timezone }}"{% if details.current %} selected{% endif %}>{{ timezone }} (GMT{{ details.offset }})</option>
            {% endfor %}
        </select>
        <label for="timezone_value">Timezone</label>
    </div>
    <br/>
    <div class="float_label_div">
        <input form="profile_details" value="{{ userData.website }}" type="url" aria-required="false" name="details[website]" id="website_value" placeholder="Website" autocomplete="url" inputmode="text" minlength="0" maxlength="255" pattern="https://[^<>]*">
        <label for="website_value">Website</label>
    </div>
    <br/>
    <div class="float_label_div">
        <textarea class="tinymce" form="profile_details" id="about_value" name="details[about]" placeholder="About" spellcheck="true" wrap="soft">{{ userData.about }}</textarea>
        <label for="about_value">About</label>
    </div>
    <br/>
    <input role="button" form="profile_details" type="submit" name="submit" id="details_submit" formaction="{{ url }}" formmethod="post" formtarget="_self" value="Save">
    <p id="lastAutoSave" class="hidden">Last auto save: {{ timeTag("now", "H:i") }}</p>
    <img loading="lazy" decoding="async" id="details_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Updating details...">
</form>
