<section>
    <p>You can't measure success of any process without some metrics. Real-life ones can vary drastically from company to company and from product to product, but below are some suggestions for each of the FACTS.</p>
    <p><b class="warning">Disclosure:</b> metrics prepared with the help of AI, specifically <a href="https://lumo.proton.me/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/lumo.svg" alt="Lumo">Lumo</a>.</p>
    <ul>
        <li>
            <b>Feedback</b>:
            {{ include('supops/metrics/feedback.twig') }}
        </li>
        <li>
            <b>Automation</b>:
            {{ include('supops/metrics/automation.twig') }}
        </li>
        <li>
            <b>Collaboration</b>:
            {{ include('supops/metrics/collaboration.twig') }}
        </li>
        <li>
            <b>Transparency</b>:
            {{ include('supops/metrics/transparency.twig') }}
        </li>
        <li>
            <b>Sustainability</b>:
            {{ include('supops/metrics/sustainability.twig') }}
        </li>
    </ul>
    <a class="button supops_next_slide" href="/supops/comparison">
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/scales.svg" alt="Next slide icon" class="no_tooltip">
        <span>Compare</span>
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/scales.svg" alt="Next slide icon" class="no_tooltip">
    </a>
</section>