<section>
    <article class="margin05rem">
        <details {% if not subServiceName %}class="persistent" open{% endif %}>
            <summary class="rightSummary aboutSection">About</summary>
            <p>Here you can find all forums, blogs and similar sections, that are meant for different types of communication.</p>
        </details>
    </article>
    <vertical-tabs class="vertical_tabs">
        <tab-names>
            {% if subServiceName == 'section' %}
                {% if type != 'Category' and 'canPost' in session_data.permissions and (not closed or 'postInClosed' in session_data.permissions) %}
                    <tab-name class="nav_tab">Start thread</tab-name>
                {% endif %}
                {% if 'addSections' in session_data.permissions and (not closed or 'postInClosed' in session_data.permissions) %}
                    <tab-name class="nav_tab">Add subsection</tab-name>
                {% endif %}
                {% if 'editSections' in session_data.permissions %}
                    <tab-name class="nav_tab">Edit</tab-name>
                {% endif %}
                {% if 'removeSections' in session_data.permissions and not system %}
                    <tab-name class="nav_tab danger">Remove</tab-name>
                {% endif %}
            {% endif %}
        </tab-names>
        <tab-contents>
            {% if subServiceName == 'section' %}
                {{ include('talks/tabs/sections.twig') }}
            {% endif %}
        </tab-contents>
    </vertical-tabs>
    {% if subServiceName == 'search' %}
        {{ include('common/elements/search.twig') }}
    {% endif %}
    {% if subServiceName %}
        {% if subServiceName != 'thread' and subServiceName != 'post' %}
            <article class="margin05rem">
                {% if subServiceName == 'search' %}
                    {{ include('common/pages/search.twig') }}
                {% elseif subServiceName == 'section' %}
                    {{ include('talks/section.twig') }}
                {% elseif subServiceName == 'user' %}
                    {{ include('talks/user.twig') }}
                {% endif %}
            </article>
        {% else %}
            {% if subServiceName == 'thread' %}
                {{ include('talks/thread.twig') }}
            {% elseif subServiceName == 'post' %}
                {{ include('talks/post.twig') }}
            {% endif %}
        {% endif %}
    {% endif %}
</section>
