<article class="article-block">
    <div class="article-top-row">
        <div class="article-block-name">{% if type %}<a class="no-decor category" href="/forum/{{ type }}/">[Category]</a> {%endif%}<a class="anchor" href="{{ '#'~threadid }}" title="Link to this block">⚓</a><a class="no-decor" href="/thread/{{ url }}/"><h2 id="{{ threadid }}">{{ name }}</h2></a></div>
        <div class="article-time">{% if urlusr %}<a class="no-decor category" href="/user/{{ urlusr }}/"}>by Author on </a> {% endif %}<time class=" category" datetime="{{ date|date("c") }}">{{ date|date("d/m/Y H:i") }}</time></div>
    </div>
    <section class="article-content">{{ content|raw }}</section>
</article>