<a class="ff_search_result" href="/fftracker/{{type}}/{{id}}/{{name|url_encode}}/" title="{{name|raw}}">
    <img class="ff_avatar" alt="{{name|raw}}"
        {%if type == 'character' %}
            src="/img/fftracker/avatar/{{icon}}c0_96x96.jpg"
        {% elseif type == 'freecompany' %}
            src="/img/fftracker/merged-crests/{{icon|slice(0,2)}}/{{icon|slice(2,2)}}/{{icon}}.png"
        {% elseif type == 'pvpteam' %}
            src="/img/fftracker/merged-crests/{{icon|slice(0,2)}}/{{icon|slice(2,2)}}/{{icon}}.png"
        {% elseif type == 'linkshell' %}
            src="/img/fftracker/linkshell.png"
        {% elseif type == 'crossworld_linkshell' %}
            src="/img/fftracker/crossworld_linkshell.png"
        {% elseif type == 'achievement' %}
            src="/img/fftracker/icon/{{icon}}"
        {% endif %}
    >
    {% if current is defined and current == 0 %}
        <img class="ff_avatar_deleted" src="/img/fftracker/deleted.png">
    {% endif %}
    <span>{{name|raw}}</span>
</a>
