<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/profile# article: https://ogp.me/ns/article# book: https://ogp.me/ns/book# website: https://ogp.me/ns/website#" itemscope itemtype="https://schema.org/Article">
    <head>
        {{ include('common/layout/metatags.twig') }}

        <!-- Generated links -->
        {{ linkTags(link_tags, 'head') }}
        {% if link_extra %}
            {{ linkTags(link_extra, 'head') }}
        {% endif %}

        <title>{% if title %}{{ title }} on {{ site_name }}{% else %}{{ site_name }}{% endif %}</title>

        {{ include('common/layout/scripts.twig') }}
        {% if http_error %}
            {% if not(error_page) and http_error in [305, 408, 409, 500, 501, 502, 503, 'maintenance', 'database'] and construction == false %}
                <meta http-equiv="refresh" content="60"/>
            {% endif %}
        {% endif %}
    </head>
    {% if unsupported %}
        {{ include('errors/teapot.twig') }}
    {% else %}
        <body>
            <header>
                {{ include('common/layout/header.twig') }}
            </header>
            <nav id="navigation" aria-label="Primary" role="navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                {{ include('common/layout/navigation.twig') }}
            </nav>
            <main id="content" role="main">
                {% if http_error and (static_page == false or (static_page and http_error != 'database' and http_error != 'maintenance')) and cached_page == false %}
                    <article id="http_error">
                        {% if construction == false %}
                            {% if http_error not in ['database', 'maintenance', 'teapot'] %}
                                {% if internal_litespeed_redirect %}
                                    <p class="error">You are seeing this message, because <a href="https://store.litespeedtech.com/store/aff.php?aff=1965" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" width="16px" height="16px" src="/img/tech/LiteSpeed.svg" alt="LiteSpeed">LiteSpeed</a> does not want to admit an <a href="/talks/threads/135/">issue</a> with custom error pages not working, when using a dynamic URL (rewrite rules are not applied, if there is no physical file for the URL).</p>
                                    <p class="error">The only reason you are able to see this custom page is because I've created a dummy file to force the server apply rewrite rules.</p>
                                    <p class="error">Until LiteSpeed acknowledges (and fixes) the issue, this message will be shown on respective error pages and I will be recommending <i>against</i> this server software.</p>
                                    <p>Know a way to force LiteSpeed support (and devs) to stop ghosting me? Ticket number is 945335. Any help will be appreciated.</p>
                                    <br/>
                                {% endif %}
                                <p>An error code <span class="error">{{ http_error }}</span> was encountered while processing your request{% if not('httperror/'~http_error in url) %} to</p><code data-description="Failed URL">{{ url }}</code><p class="noLetter">page{% endif %}. Here's what the server has to say in its defence:</p>
                            {% endif %}
                            {{ include('errors/'~http_error~'.twig') }}
                            {% if http_error not in ['database', 'maintenance', 'teapot', 418] and session_data.prevPage %}
                                <p>You can try going back to previous <a href="{{ session_data.prevPage }}">page</a>.</p>
                            {% endif %}
                        {% else %}
                            {{ include('errors/construction.twig') }}
                        {% endif %}
                        {% if not(error_page) and http_error in [305, 408, 409, 500, 501, 502, 503, 'maintenance', 'database'] %}
                            <p>Page will refresh in <time-r id="refresh_timer">60</time-r> seconds.</p>
                        {% endif %}
                    </article>
                {% else %}
                    {% if pagination %}
                        {{ pagination(pagination.current, pagination.total, prefix=pagination.prefix) }}
                    {% endif %}
                    {{ include('common/layout/services.twig') }}
                    {% if pagination %}
                        {{ pagination(pagination.current, pagination.total, prefix=pagination.prefix) }}
                    {% endif %}
                {% endif %}
            </main>
            <aside id="sidebar" aria-label="Sidebar">
                <div id="hideSidebar"><input id="hideSidebarIcon" class="navIcon" alt="Close sidebar" data-tooltip="Close sidebar" type="image" src="/img/close.svg"></div>
                    {% if http_error != 'database' and http_error != 'maintenance' %}
                        <section id="loginForm">
                            {{ include('common/layout/noscript.twig') }}
                            {{ include('common/layout/signinup.twig') }}
                        </section>
                    {% else %}
                        <section id="sidebar_no_db">
                            {% if http_error == 'database' %}
                                <img loading="lazy" decoding="async" alt="No database connection" src="/img/errors/database.svg">
                                <p class="warning">Database is currently unavailable, and you are seeing a static or cached page, that is not dependent on it. Sidebar elements suppressed.</p>
                            {% else %}
                                <img loading="lazy" decoding="async" alt="Maintenance" src="/img/errors/maintenance.svg">
                                <p class="warning">Database is currently under maintenance, and you are seeing a static or cached page, that is not dependent on it. Sidebar elements suppressed.</p>
                            {% endif %}
                        </section>
                    {% endif %}
            </aside>
            <footer>
                {{ include('common/layout/footer.twig') }}
            </footer>
        <over-lays>
            {{ include('common/layout/gallery.twig') }}
            <tool-tip id="tooltip" role="tooltip" aria-label="Tooltip"></tool-tip>
            <snack-bar role="dialog"></snack-bar>
        </over-lays>
        {{ include('common/layout/templates.twig') }}
        </body>
    {% endif %}
</html>
