<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/profile# article: https://ogp.me/ns/article# book: https://ogp.me/ns/book# website: https://ogp.me/ns/website#" itemscope itemtype="https://schema.org/Article">
    <head>
        {{ include('common/layout/metatags.twig') }}

        <!-- Generated links -->
        {{ linkTags(link_tags, 'head') }}
        {% if link_extra %}
            {{ linkTags(link_extra, 'head') }}
        {% endif %}

        <title>{% if title %}{{ title }} on {{ site_name }}{% else %}{{ site_name }}{% endif %}</title>

        {{ include('common/layout/scripts.twig') }}
        {% if http_error %}
            {% if http_error not in [400, 403, 404, 405,'twig'] and static_page == false and cached_page == false and construction == false %}
                <meta http-equiv="refresh" content="60"/>
            {% endif %}
        {% endif %}
    </head>
    {% if unsupported %}
        {{ include('errors/teapot.twig') }}
    {% else %}
        <body>
            <header>
                {{ include('common/layout/header.twig') }}
            </header>
            <nav id="navigation" aria-label="Primary" role="navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                {{ include('common/layout/navigation.twig') }}
            </nav>
            <main id="content" role="main">
                {% if http_error and static_page == false and cached_page == false %}
                    <article id="http_error">
                        {% if construction == false %}
                            {{ include('errors/'~http_error~'.twig') }}
                        {% else %}
                            {{ include('errors/construction.twig') }}
                        {% endif %}
                        {% if not(error_page) and http_error not in [400, 403, 404, 405,'twig'] %}
                            <p>Page will refresh in <time-r id="refresh_timer">60</time-r> seconds.</p>
                        {% endif %}
                    </article>
                {% else %}
                    {% if pagination %}
                        {{ pagination(pagination.current, pagination.total, prefix=pagination.prefix) }}
                    {% endif %}
                    {% if serviceName == 'about' %}
                        {{ include('about/about.twig') }}
                    {% elseif serviceName == 'fftracker' %}
                        {{ include('fftracker/fftracker.twig') }}
                    {% elseif serviceName == 'bictracker' %}
                        {{ include('bictracker/bictracker.twig') }}
                    {% elseif serviceName == 'simplepages' %}
                        {{ include('simplepages/simplepages.twig') }}
                    {% elseif serviceName == 'landing' %}
                        {{ include('landing.twig') }}
                    {% elseif serviceName == 'sitemap' %}
                        {{ include('common/pages/sitemap.twig') }}
                    {% elseif serviceName == 'uc' %}
                        {{ include('usercontrol/usercontrol.twig') }}
                    {% elseif serviceName == 'stylingTest' %}
                        {{ include('stylingTest.twig') }}
                    {% else %}
                        <article id="http_error">
                            {{ include('errors/404.twig') }}
                        </article>
                    {% endif %}
                    {% if pagination %}
                        {{ pagination(pagination.current, pagination.total, prefix=pagination.prefix) }}
                    {% endif %}
                {% endif %}
            </main>
            <aside id="sidebar" aria-label="Sidebar">
                <div id="hideSidebar"><input id="hideSidebarIcon" class="navIcon" alt="Close sidebar" data-tooltip="Close sidebar" type="image" src="/img/close.svg"></div>
                    {% if http_error != 'database' and http_error != 'maintenance' %}
                        <section id="loginForm">
                            {{ include('common/layout/noscript.twig') }}
                            {{ include('common/layout/signinup.twig') }}
                        </section>
                    {% else %}
                        <section id="sidebar_no_db">
                            {% if http_error == 'database' %}
                                <img loading="lazy" decoding="async" alt="No database connection" src="/img/errors/database.svg">
                                <p class="warning">Database is currently unavailable, and you are seeing a static or cached page, that is not dependent on it. Sidebar elements suppressed.</p>
                            {% else %}
                                <img loading="lazy" decoding="async" alt="Maintenance" src="/img/errors/maintenance.svg">
                                <p class="warning">Database is currently under maintenance, and you are seeing a static or cached page, that is not dependent on it. Sidebar elements suppressed.</p>
                            {% endif %}
                        </section>
                    {% endif %}
            </aside>
            <footer>
                {{ include('common/layout/footer.twig') }}
            </footer>
        <over-lays>
            {{ include('common/layout/gallery.twig') }}
            <tool-tip id="tooltip" role="tooltip" aria-label="Tooltip"></tool-tip>
            <snack-bar role="dialog"></snack-bar>
        </over-lays>
        </body>
    {% endif %}
</html>
