<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/profile# article: https://ogp.me/ns/article# book: https://ogp.me/ns/book# website: https://ogp.me/ns/website#" itemscope itemtype="https://schema.org/Article">
    <head>
        {{ include('common/metatags.twig') }}

        <!-- Links -->
        {{ link_tags|raw }}
        {{ link_extra|raw }}

        <title>{{ title }}</title>

        {{ include('common/scripts.twig') }}
        {% if http_error%}
            {% if http_error != 403 and http_error != 404%}
                <meta http-equiv="refresh" content="60"/>
            {% endif %}
        {% endif %}
    </head>
    {% if unsupported %}
        {{ include('errors/teapot.twig') }}
    {% else %}
        <body>
            <header>
                {{ include('common/header.twig') }}
            </header>
            <nav id="navigation" aria-label="Primary" role="navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                {{ include('common/navigation.twig') }}
            </nav>
            <main id="content">
                {% if http_error%}
                    <article id="http_error">
                        {{ include('errors/'~http_error~'.twig') }}
                        {% if not(error_page) and http_error != 403 and http_error != 404%}
                            <p>Page will refresh in <span id="refresh_timer">60</span> seconds.</p>
                        {% endif %}
                    </article>
                {% else %}
                    {{ include('stylingTest.twig') }}
                {% endif %}
            </main>
            <aside id="sidebar" aria-label="Sidebar">
                {% if user_side_panel %}
                    <section id="loginForm">
                        {{ include('common/noscript.twig') }}
                        {{ include('common/signinup.twig') }}
                    </section>
                {% endif %}
            </aside>
            <footer>
                {{ include('common/footer.twig') }}
            </footer>
        </body>
    {%endif%}
</html>
