<section>
    <img loading="lazy" decoding="async" class="float_left ff_crest galleryZoom" alt="{{ achievement.name }}" src="/img/fftracker/icons/{{ achievement.icon }}">
    <p><b>"{{ achievement.name }}"</b> is a <i>{{ achievement.subcategory }}</i> achievement in <i>{{ achievement.category }}</i> category. It was added to the roaster on {{ timeTag(achievement.registered, "d/m/Y") }} with ID <i>{{ achievement.id }}</i>{% if achievement.registered|date("Y-m-d") != achievement.updated|date("Y-m-d") %} and revised on {{ timeTag(achievement.updated, "d/m/Y") }}{% endif %}.</p>
    <p>By achieving it, one can receive:</p>
    <ul>
        {% if achievement.rewards.points %}
            <li><i class="gold">{{ achievement.rewards.points }}</i> points</li>
        {% endif %}
        {% if achievement.rewards.title %}
            <li><i class="gold">"{{ achievement.rewards.title }}"</i> title</li>
        {% endif %}
        {% if achievement.rewards.item.name %}
            <li><a class="gold" href="https://eu.finalfantasyxiv.com/lodestone/playguide/db/item/{{ achievement.rewards.item.id }}" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/fftracker/icons/{{ achievement.rewards.item.icon }}" alt="{{ achievement.rewards.item.name }}"><i>"{{ achievement.rewards.item.name }}"</i></a> as a trophy</li>
        {% endif %}
    </ul>
    {% if achievement.howto %}
        <p>But it won't be easy to reap these rewards. As per established rules, one is required to fulfill these conditions:</p>
        <blockquote class="w100pc">{{ achievement.howto }}</blockquote>
    {% else %}
        <p>But it won't be easy to reap these rewards. What makes that even harder, is that it is still unknown, what the requirements are.</p>
    {% endif %}
    {% if achievement.characters.total > 0 %}
        <p>Achievement has been earned by <i class="success">{{ achievement.characters.total }}</i> {% if achievement.characters.total > 1 %}people{% else %}person{% endif %}.</p>
        <p>{% if achievement.characters.total > 1 %}Last <i>{{ achievement.characters.last|length }}</i> people{% else %}The only person{% endif %}, who received the achievement:</p>
        <div class="searchResults">
            {% for entity in achievement.characters.last %}
                {{ include('common/elements/entitycard.twig', entity) }}
            {% endfor %}
        </div>
    {% endif %}

</section>
