{% if not path %}
    <section class="bottomMargin">
        <details class="persistent" open>
            <summary class="rightSummary aboutSection">About crests' page</summary>
            <p>This page provides components used by FFXIV for creating crests: backgrounds, frames, emblems, - as well as "merged" crests, where all 3 components were merged into 1 image.</p>
            <p>These are not necessarily <b>all</b> of components, let alone their combinations. Only those, identified by the tracker service during its normal work, are listed.</p>
            <ul>
                <li><a href="/fftracker/crests/frame">{{ files.frame.name }}</a>: {{ files.frame.count }} icons</li>
                <li><a href="/fftracker/crests/emblem">{{ files.emblem.name }}</a>: {{ files.emblem.count }} folders</li>
                <li><a href="/fftracker/crests/background">{{ files.background.name }}</a>: {{ files.background.count }} folders</li>
                <li><a href="/fftracker/crests/merged">{{ files.merged.name }}</a>: {{ files.merged.count -3 }} folders</li>
            </ul>
        </details>
    </section>
{% endif %}
{% if path %}
    <section>
        {% if files[path].parent %}
            <a class="middle block nodecor" href="{{ files[path].parent.href }}" data-tooltip="Parent folder"><img loading="lazy" decoding="async" alt="Parent folder" src="/img/navigation/folderUp.svg" class="linkIcon">{{ files[path].parent.name }}</a>
        {% endif %}
        {% if files[path].files %}
            {{ include('common/elements/iconlist.twig', {icons: files[path].files}, with_context = false) }}
        {% else %}
            <ul>
                {% if files[path].name == 'Backgrounds' %}
                    {% set subDirName = 'background' %}
                {% elseif files[path].name == 'Emblems' %}
                    {% set subDirName = 'emblem' %}
                {% elseif files[path].name == 'Merged crests' %}
                    {% set subDirName = 'merged' %}
                {% endif %}
                {% for dir in files[path].dirs %}
                    <li><a href="/fftracker/crests/{{ subDirName }}/{{ dir.dirname }}">{{ dir.dirname }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if files[path].parent %}
            <a class="middle block nodecor" href="{{ files[path].parent.href }}" data-tooltip="Parent folder"><img loading="lazy" decoding="async" alt="Parent folder" src="/img/navigation/folderUp.svg" class="linkIcon">{{ files[path].parent.name }}</a>
        {% endif %}
    </section>
{% endif %}
