<section>
    <article>
        <details {% if not subServiceName %}class="persistent" open{% endif %}>
            <summary class="rightSummary aboutSection">About</summary>
            <p>Service to track different information for Free Companies (guilds), PvP Teams, Linkshells (chat groups) and individual characters for <b>Final Fantasy XIV</b> online game developed and published by <a href="https://www.square-enix.com" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/icons/SquareEnix.png" alt="Square Enix">Square Enix</a>. Utilizes data grabbed from official <a href="https://eu.finalfantasyxiv.com/lodestone" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/icons/lodestone.png" alt="Lodestone">Lodestone</a> with special <a href="https://github.com/Simbiat/lodestone-php" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/social/github.svg" alt="Github">parser</a>.</p>
            <p>Service has an official <a href="https://forum.square-enix.com/ffxiv/threads/304191-Free-Company-Tracker-Page" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/icons/lodestone.png" alt="Lodestone Forum">thread</a> on Lodestone forum.</p>
            <div id="se_copyright">"(C) SQUARE ENIX CO., LTD. All Rights Reserved. FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd. All material used under license."</div>
            {% if not subServiceName %}
                <p>Check statistics <a href="/fftracker/statistics/" target="_self" itemprop="url"><span itemprop="name">here</span></a>.</p>
                <p>Browse different entities using links below:</p>
                <ul>
                    <li><a href="/fftracker/characters/" target="_self" itemprop="url"><span itemprop="name">Characters</span></a></li>
                    <li><a href="/fftracker/freecompanies/" target="_self" itemprop="url"><span itemprop="name">Free Companies</span></a></li>
                    <li><a href="/fftracker/pvpteams/" target="_self" itemprop="url"><span itemprop="name">PvP Teams</span></a></li>
                    <li><a href="/fftracker/linkshells/" target="_self" itemprop="url"><span itemprop="name">Linkshells</span></a></li>
                    <li><a href="/fftracker/achievements/" target="_self" itemprop="url"><span itemprop="name">Achievements</span></a></li>
                </ul>
                <p>Use <a href="/fftracker/search/" target="_self" itemprop="url"><span itemprop="name">search</span></a> to find something specific or <a href="/fftracker/track/" target="_self" itemprop="url"><span itemprop="name">register</span></a> a new entity, if we do not have it.</p>
            {% endif %}
        </details>
    </article>
    {% if subServiceName %}
        {{pagination_top|raw}}
        <article>
            {% if subServiceName == 'search' %}
                {{ include('common/pages/search.twig')}}
            {% elseif subServiceName == 'characters' %}
                {{ include('common/pages/list.twig')}}
            {% elseif subServiceName == 'freecompanies' %}
                {{ include('common/pages/list.twig')}}
            {% elseif subServiceName == 'pvpteams' %}
                {{ include('common/pages/list.twig')}}
            {% elseif subServiceName == 'linkshells' %}
                {{ include('common/pages/list.twig')}}
            {% elseif subServiceName == 'achievements' %}
                {{ include('common/pages/list.twig')}}
            {% elseif subServiceName == 'character' %}
                {{ include('fftracker/character.twig')}}
            {% elseif subServiceName == 'linkshell' %}
                {{ include('fftracker/linkshell.twig')}}
            {% endif %}
        </article>
        {{pagination_bottom|raw}}
    {% endif %}
</section>
