<div id="ff-main" class="article-content centertext">
    <div id="ff_logo_parent">
        <img id="ff_logo_header" src="/img/fftracker/merged-crests/{{freecompany.crest|slice(0,2)}}/{{freecompany.crest|slice(2,2)}}/{{freecompany.crest}}.png">
        {% if freecompany.deleted%}
            <img id="ff_logo_header_deleted" src="/img/fftracker/deleted.png">
        {% endif %}
    </div>
    <div>
        <p>
        {% if freecompany.deleted%}
            <div id="ff_deleted_notice"><h3>{{freecompany.name}}</h3></p><p> was deleted from Lodestone on {{freecompany.deleted}}. Below information is what was avialable on or prior to the deletion date.</div><br>
        {% else %}
            <h3>Name</h3>: <a href="https://eu.finalfantasyxiv.com/lodestone/freecompany/{{freecompany.freecompanyid}}/freecompany.twig" target="_blank">{{freecompany.name}}</a>
        {% endif %}
        </p>
        {%if freecompany.oldnames %}
            <details id="ff_oldnames">
                <summary title="Known aliases">
                    <h3>Previous names</h3>
                </summary>
                {% for name in freecompany.oldnames %}
                    {{name}}{%if not loop.last%},<br>{%endif%}
                {%endfor%}
            </details>
        {%endif%}
        <p><h3>Insignia</h3>: {{freecompany.tag|raw}}</p>
        <p><h3>Members</h3>: {{freecompany.members|length}}</p>
        <p><h3>Rank</h3>: {{freecompany.rank}}</p>
        <p><h3>ID</h3>: {{freecompany.freecompanyid}}</p>
        {%if freecompany.slogan %}<p><h3>About</h3>: {{freecompany.slogan|raw}}</p>{%endif%}
        <p><h3>Affiliation</h3>: {{freecompany.gc_name}}</p>
        {%if freecompany['Role-playing'] or freecompany.Leveling or freecompany.Casual or freecompany.Hardcore or freecompany.Dungeons or freecompany.Guildhests or freecompany.Trials or freecompany.Raids or freecompany.PvP %}
            <p><h3>Occupation</h3>:
                {%if freecompany['Role-playing'] %}<img title="Role-playing" class="ff_icon" src="/img/fftracker/focus/Roleplaying.png">{%endif%}
                {%if freecompany.Leveling %}<img title="Leveling" class="ff_icon" src="/img/fftracker/focus/Leveling.png">{%endif%}
                {%if freecompany.Casual %}<img title="Casual" class="ff_icon" src="/img/fftracker/focus/Casual.png">{%endif%}
                {%if freecompany.Hardcore %}<img title="Hardcore" class="ff_icon" src="/img/fftracker/focus/Hardcore.png">{%endif%}
                {%if freecompany.Dungeons %}<img title="Dungeons" class="ff_icon" src="/img/fftracker/focus/Dungeons.png">{%endif%}
                {%if freecompany.Guildhests %}<img title="Guildhests" class="ff_icon" src="/img/fftracker/focus/Guildhests.png">{%endif%}
                {%if freecompany.Trials %}<img title="Trials" class="ff_icon" src="/img/fftracker/focus/Trials.png">{%endif%}
                {%if freecompany.Raids %}<img title="Raids" class="ff_icon" src="/img/fftracker/focus/Raids.png">{%endif%}
                {%if freecompany.PvP %}<img title="PvP" class="ff_icon" src="/img/fftracker/focus/PvP.png">{%endif%}
            </p>
        {%endif%}
        <p><h3>Location</h3>:
        {%if freecompany.estate_zone %}
            {{freecompany.estate_zone|raw}} on plot {{freecompany.plot}} in ward {{freecompany.ward}} of {{freecompany.area}}, {{freecompany.city}}, {{freecompany.region}}, {{freecompany.server}}, {{freecompany.datacenter}}<img id="ff_map_zoom" title="Show on map" src="/img/fftracker/maps/zoom.png">
            <div class="hideme"><div id="ff_map_div">
                <img id="ff_map_img" src="/img/fftracker/maps/{{freecompany.area}}/{{freecompany.plot}}.jpg">
            </div></div>
        {%else%}
            {{freecompany.server}}, {{freecompany.datacenter}}
        {%endif%}
        </p>
        {%if freecompany.estate_message %}<p><h3>Welcome message</h3>: {{freecompany.estate_message|raw}}</p>{%endif%}
        {%if freecompany.communityid %}
            <p><h3>Community ID</h3>: <a href="https://eu.finalfantasyxiv.com/lodestone/community_finder/{{freecompany.communityid}}" target="_blank">{{freecompany.communityid}}</a></p>
        {% endif %}
        {%if freecompany.recruitment == 1 %}
            {%if freecompany.active %}
                <p><h3>Open</h3>: {{freecompany.active}}</p>
            {%endif%}
            {%if freecompany.Tank or freecompany.Healer or freecompany.DPS or freecompany.Crafter or freecompany.Gatherer %}
                <p><h3>Recruiting</h3>:
                    {%if freecompany.Tank %}<img title="Tanks" class="ff_icon" src="/img/fftracker/roles/Tank.png">{%endif%}
                    {%if freecompany.Healer %}<img title="Healers" class="ff_icon" src="/img/fftracker/roles/Healer.png">{%endif%}
                    {%if freecompany.DPS %}<img title="DPS" class="ff_icon" src="/img/fftracker/roles/DPS.png">{%endif%}
                    {%if freecompany.Crafter %}<img title="Crafters" class="ff_icon" src="/img/fftracker/roles/Crafter.png">{%endif%}
                    {%if freecompany.Gatherer %}<img title="Gatherers" class="ff_icon" src="/img/fftracker/roles/Gatherer.png">{%endif%}
                </p>
            {%endif%}
        {%endif%}
        {%if freecompany.ranks_history and freecompany.ranks_history|length > 1 %}
            <details id="ff_rank_history">
                <summary title="Graph of last 100 changes in weeklly or monthly rankings correlated with number of members">
                    <h2>Ranking history</h2>
                </summary>
                <div id="ff_chart_ranks" data-chart="
                {% for ranking in freecompany.ranks_history %}
                    {%if loop.first%}[{% set array = ['Date', 'Weekly rank', 'Monthly rank', 'Members'] %}
                    {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                    {% set array = [ranking.date|date('d/m/Y'),ranking.weekly,ranking.monthly,ranking.members] %}
                    {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                    {%if not loop.last%},{%endif%}
                    {%if loop.last%}]{%endif%}
                {%endfor%}
                "></div>
            </details>
        {%endif%}
        <br>
        {% if freecompany.formed %}
            <p><h3>Formed</h3>: {{freecompany.formed}}</p>
        {% endif %}
        <p><h3>Registered</h3>: {{freecompany.registered}}</p>
        {% if not freecompany.deleted %}
            <p><h3>Updated</h3>: {{freecompany.updated}}</p>
        {% endif %}
    </div>
    {% if freecompany.members|length > 0 %}
        <input type="search" autofocus="" alt="Search" id="fc_member_search" placeholder="Type ID, rank or name to highlight a member">
    {% endif %}
    <div id="ff_members_list">
        {% for rank in freecompany.levels %}
            <div class="ff_list_level">
                <span>{{rank}}</span>
                {% for member in freecompany.members %}
                    {% if member.rank==rank %}
                        <a class="ff_list_member" href="/fftracker/character/{{member.characterid}}/{{member.name|url_encode}}/" rank="{{member.rank}}" name="{{member.name}}" id="{{member.characterid}}">
                            <div class="ff_member_front">
                                <img class="avatar" src="/img/fftracker/avatar/{{member.avatar}}c0_96x96.jpg" crossorigin="anonymous">
                                {%if not member.rankid is empty%}<img class="ff_member_rank" src="/img/fftracker/fcranks/{{member.rankid}}.png">{%endif%}
                            </div>
                            <div class="ff_member_back">
                                {%if not member.rankid is empty%}<img class="ff_member_rank" src="/img/fftracker/fcranks/{{member.rankid}}.png">{%endif%}
                                <span>{{member.rank}} {{member.name}}</span>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <span>{{rank}}</span>
            </div>
        {% endfor %}
    </div>

    <div id="se_copyright">"(C) SQUARE ENIX CO., LTD. All Rights Reserved. FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd. All material used under license."</div>
</div>
