<section>
    <img loading="lazy" decoding="async" class="float_left ff_crest" alt="{{ pvpteam.name }}" src="/img/fftracker/merged-crests/{{pvpteam.crest|slice(0,2)}}/{{pvpteam.crest|slice(2,2)}}/{{pvpteam.crest}}.png">
    <p>PvP Team <b>"{{ pvpteam.name }}"</b> was {% if pvpteam.dates.formed %}formed on {{pvpteam.dates.formed|timeTag("d/m/Y")}} and {% endif %}registered on {{pvpteam.dates.registered|timeTag("d/m/Y")}} with ID <i>{{ pvpteam.id }}</i>. Last set of interviews conducted on {{pvpteam.dates.updated|timeTag("d/m/Y")}}.{% if pvpteam.dates.deleted %} Was disbanded on {{pvpteam.dates.deleted|timeTag("d/m/Y")}}.{% endif %}</p>
    <p>Operate{% if pvpteam.dates.deleted %}d{% else %}s{% endif %} on <i>{{ pvpteam.dataCenter }}</i>.{% if not pvpteam.dates.deleted %}{% if pvpteam.community %} Has an open <a href="https://eu.finalfantasyxiv.com/lodestone/community_finder/{{pvpteam.community}}" target="_blank">community</a>.{% endif %}{% endif %}</p>
    {% if pvpteam.oldNames|length > 0 %}
        <p>Had also been known under <i>{{ pvpteam.oldNames|length }}</i> other name{% if pvpteam.oldNames|length > 1 %}s{% endif %}:</p>
        <ul>
            {% for name in pvpteam.oldNames %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>Current members:</p>
        <div class="searchResults">
            {% for entity in pvpteam.members %}
                {{ include('common/elements/entitycard.twig', entity) }}
            {% endfor %}
        </div>

</section>
