<vertical-tabs class="vertical_tabs_links">
    <tab-names>
        <tab-name {% if ffstats.category == 'characters' %}class="active" {% endif %}data-url="/fftracker/statistics/characters">Characters</tab-name>
        <tab-name {% if ffstats.category == 'groups' %}class="active" {% endif %}data-url="/fftracker/statistics/groups">Groups</tab-name>
        <tab-name {% if ffstats.category == 'achievements' %}class="active" {% endif %}data-url="/fftracker/statistics/achievements">Achievements</tab-name>
        <tab-name {% if ffstats.category == 'timelines' %}class="active" {% endif %}data-url="/fftracker/statistics/timelines">Timelines</tab-name>
        <tab-name {% if ffstats.category == 'bugs' %}class="active" {% endif %}data-url="/fftracker/statistics/bugs">Bugs</tab-name>
        <tab-name {% if ffstats.category == 'raw' %}class="active" {% endif %}data-url="/fftracker/statistics/raw">Raw</tab-name>
        <tab-name {% if ffstats.category == 'other' %}class="active" {% endif %}data-url="/fftracker/statistics/other">Other</tab-name>
    </tab-names>
</vertical-tabs>
<section>
    {% if ffstats.category %}
        <article class="margin05rem">
            {% if ffstats.category == 'characters' %}
                {{ include('fftracker/statistics/characters.twig') }}
            {% elseif ffstats.category == 'groups' %}
                {{ include('fftracker/statistics/groups.twig') }}
            {% elseif ffstats.category == 'achievements' %}
                {{ include('fftracker/statistics/achievements.twig') }}
            {% elseif ffstats.category == 'timelines' %}
                {{ include('fftracker/statistics/timelines.twig') }}
            {% elseif ffstats.category == 'bugs' %}
                {{ include('fftracker/statistics/bugs.twig') }}
            {% elseif ffstats.category == 'raw' %}
                {{ include('fftracker/statistics/raw.twig') }}
            {% elseif ffstats.category == 'other' %}
                {{ include('fftracker/statistics/other.twig') }}
            {% endif %}
        </article>
    {% endif %}
</section>
