<p>All data below is for {{ timeTag(ffstats.data.time, "d/m/Y") }}.</p>
<table>
    <caption><h2>Job popularity</h2></caption>
    <thead><tr>
        <th>Job</th>
        <th>Sum of all levels</th>
    </tr></thead>
    {% for job, level in ffstats.data.characters.jobs %}
        <tr>
            <td>{{ job }}</td>
            <td>{{ level }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Most name changes</h2></caption>
    <thead><tr>
        <th>Character</th>
        <th>Changes</th>
    </tr></thead>
    {% for character in ffstats.data.characters.changes.name %}
        <tr>
            <td>{{ include('common/elements/entitycard.twig', character) }}</td>
            <td>{{ character.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Most reincarnations</h2></caption>
    <thead><tr>
        <th>Character</th>
        <th>Reincarnations</th>
    </tr></thead>
    {% for character in ffstats.data.characters.changes.clan %}
        <tr>
            <td>{{ include('common/elements/entitycard.twig', character) }}</td>
            <td>{{ character.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Most server changes</h2></caption>
    <thead><tr>
        <th>Character</th>
        <th>Servers</th>
    </tr></thead>
    {% for character in ffstats.data.characters.changes.server %}
        <tr>
            <td>{{ include('common/elements/entitycard.twig', character) }}</td>
            <td>{{ character.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Group affiliation statistics</h2></caption>
    <thead><tr>
        <th>Affiliation</th>
        <th>Characters</th>
    </tr></thead>
    {% for affiliation in ffstats.data.characters.groups.participation %}
        <tr>
            <td>{{ affiliation.affiliation }}</td>
            <td>{{ affiliation.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Most Free Companies</h2></caption>
    <thead><tr>
        <th>Character</th>
        <th>Companies</th>
    </tr></thead>
    {% for character in ffstats.data.characters.groups['Free Companies'] %}
        <tr>
            <td>{{ include('common/elements/entitycard.twig', character) }}</td>
            <td>{{ character.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Most PvP Teams</h2></caption>
    <thead><tr>
        <th>Character</th>
        <th>Teams</th>
    </tr></thead>
    {% for character in ffstats.data.characters.groups['PvP Teams'] %}
        <tr>
            <td>{{ include('common/elements/entitycard.twig', character) }}</td>
            <td>{{ character.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Most Linkshells</h2></caption>
    <thead><tr>
        <th>Character</th>
        <th>Teams</th>
    </tr></thead>
    {% for character in ffstats.data.characters.groups['Linkshells'] %}
        <tr>
            <td>{{ include('common/elements/entitycard.twig', character) }}</td>
            <td>{{ character.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Most simultaneous Linkshells</h2></caption>
    <thead><tr>
        <th>Character</th>
        <th>Teams</th>
    </tr></thead>
    {% for character in ffstats.data.characters.groups['simLinkshells'] %}
        <tr>
            <td>{{ include('common/elements/entitycard.twig', character) }}</td>
            <td>{{ character.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Most PvP battles</h2></caption>
    <thead><tr>
        <th>Character</th>
        <th>Battles</th>
    </tr></thead>
    {% for character in ffstats.data.characters.most_pvp %}
        <tr>
            <td>{{ include('common/elements/entitycard.twig', character) }}</td>
            <td>{{ character.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Character distribution by server</h2></caption>
    <thead><tr>
        <th>Server</th>
        <th>Gender</th>
        <th>Characters</th>
    </tr></thead>
    {% for datapoint in ffstats.data.servers.characters %}
        <tr>
            <td>{{ datapoint.value }}</td>
            <td>{% if datapoint.gender == 0 %}♀{% else %}♂{% endif %}</td>
            <td>{{ datapoint.count }}</td>
        </tr>
    {% endfor %}
</table>
