<p>All data below is for {{ timeTag(ffstats.data.time, "d/m/Y") }}.</p>
<table>
    <caption><h2>Use of communities statistics</h2></caption>
    <thead><tr>
        <th>Group type</th>
        <th>Community</th>
        <th>Count</th>
    </tr></thead>
    {% for datapoint in ffstats.data.other.communities %}
        <tr>
            <td>{{ datapoint.type }}</td>
            <td>{{ datapoint.value }}</td>
            <td>{{ datapoint.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Entities status</h2></caption>
    <thead><tr>
        <th>Entity</th>
        <th>Count</th>
    </tr></thead>
    {% for datapoint in ffstats.data.other.entities %}
        <tr>
            <td>{{ datapoint.value }}</td>
            <td>{{ datapoint.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Entities updated last 30 days</h2></caption>
    <thead>
    <tr>
        <th>Date</th>
        <th>Characters</th>
        <th>Free Companies</th>
        <th>PvP Teams</th>
        <th>Linkshells</th>
    </tr>
    </thead>
    {% for datekey, datapoint in ffstats.data.updates_stats %}
        <tr>
            <td>{{ timeTag(datekey, "Y.m.d") }}</td>
            <td>{{ datapoint.characters|default(0) }}</td>
            <td>{{ datapoint.free_companies|default(0) }}</td>
            <td>{{ datapoint.pvp_teams|default(0) }}</td>
            <td>{{ datapoint.linkshells|default(0) }}</td>
        </tr>
    {% endfor %}
</table>