<p>All data below is for {{ timeTag(ffstats.data.time, "d/m/Y") }}.</p>
<table>
    <caption><h2>Use of communities statistics</h2></caption>
    <thead><tr>
        <th>Group type</th>
        <th>Community</th>
        <th>Count</th>
    </tr></thead>
    {% for datapoint in ffstats.data.other.communities %}
        <tr>
            <td>{{ datapoint.type }}</td>
            <td>{{ datapoint.value }}</td>
            <td>{{ datapoint.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>Entities status</h2></caption>
    <thead><tr>
        <th>Entity</th>
        <th>Count</th>
    </tr></thead>
    {% for datapoint in ffstats.data.other.entities %}
        <tr>
            <td>{{ datapoint.value }}</td>
            <td>{{ datapoint.count }}</td>
        </tr>
    {% endfor %}
</table>
