<p>Raw character numbers as of {{ timeTag(ffstats.data.time, "d/m/Y") }} for analysing race, clan, gender, guardian, city and Grand Company distribution</p>
<table>
    <thead><tr>
        <th>Count</th>
        <th>Race</th>
        <th>Clan</th>
        <th>Gender</th>
        <th>Guardian</th>
        <th>City</th>
        <th>Grand Company</th>
    </tr></thead>
    {% for datapoint in ffstats.data.raw %}
        <tr>
            <td>{{ datapoint.count }}</td>
            <td>{{ datapoint.race }}</td>
            <td>{{ datapoint.clan }}</td>
            <td>{% if datapoint.gender == 0 %}♀{% else %}♂{% endif %}</td>
            <td>{{ datapoint.guardian }}</td>
            <td>{{ datapoint.city }}</td>
            <td>{{ datapoint.gc_name }}</td>
        </tr>
    {% endfor %}
</table>
