{% if not path %}
    <section class="bottomMargin">
        <details class="persistent" open>
            <summary class="rightSummary aboutSection">About crests' page</summary>
            <p>This page provides
                <a href="https://github.com/Simbiat/FFXIV-Crests-Components" target="_blank">components</a> used by FFXIV for creating crests: backgrounds, frames, emblems, - as well as "merged" crests, where all 3 components were merged into 1 image (storage is temporary for these, acting as cache).
            </p>
            <p>These are not necessarily
                <b>all</b> components, let alone their combinations. Only those, identified by the tracker service during its normal work, are listed. Quite a few pre-merged crests can be downloaded
                <a href="https://github.com/Simbiat/FFXIV-Crests" target="_blank">here</a>.
            </p>
            <ul>
                <li><a href="/fftracker/crests/frame">{{ files.frame.name }}</a>: {{ files.frame.count }} icons</li>
                <li><a href="/fftracker/crests/emblem">{{ files.emblem.name }}</a>: {{ files.emblem.count }} folders</li>
                <li><a href="/fftracker/crests/background">{{ files.background.name }}</a>: {{ files.background.count }} folders</li>
                <li><a href="/fftracker/crests/merged">{{ files.merged.name }}</a>: {{ files.merged.count -3 }} folders</li>
            </ul>
        </details>
        <form id="ff_merge_crest">
            <p>You can merge crests components into 1 image, like what you can see in the folder with merged crests. Add names of the files, that you want to merge into the fields below: they can be seen in the folders' listing. Only emblem is, technically, mandatory, same as in-game, but use only it would not make much sense.</p>
            <div class="middle">
                <span class="float_label_div"><input id="crest_emblem" name="crest_emblem" type="text" inputmode="text" required pattern="^S[a-fA-F0-9]{2}_[a-fA-F0-9]{32}_[a-fA-F0-9]{2}_128x128\.png$"><label for="crest_emblem">Emblem</label></span>
                <span class="float_label_div"><input id="crest_frame" name="crest_frame" type="text" inputmode="text" pattern="^F[a-fA-F0-9]{2}_[a-fA-F0-9]{32}_[a-fA-F0-9]{2}_128x128\.png$"><label for="crest_frame">Frame</label></span>
                <span class="float_label_div"><input id="crest_background" name="crest_background" type="text" inputmode="text" pattern="^(B[a-fA-F0-9]{2}|F00)_[a-fA-F0-9]{32}_[a-fA-F0-9]{2}_128x128\.png$"><label for="crest_background">Background</label></span>
                <div id="crest_preview" data-tooltip="Crest preview">
                    <img src="" alt="Background" id="preview_background">
                    <img src="" alt="Frame" id="preview_frame">
                    <img src="" alt="Emblem" id="preview_emblem">
                </div>
                <input type="submit" value="Merge & Download" form="ff_merge_crest" id="ff_merge_crest_submit">
                <img loading="lazy" decoding="async" id="fff_merge_crest_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Merging crest...">
            </div>
        </form>
    </section>
{% endif %}
{% if path %}
    <section>
        {% if files[path].parent %}
            <a class="middle block nodecor" href="{{ files[path].parent.href }}" data-tooltip="Parent folder"><img loading="lazy" decoding="async" alt="Parent folder" src="/assets/images/navigation/folderUp.svg" class="linkIcon">{{ files[path].parent.name }}</a>
        {% endif %}
        {% if files[path].files %}
            {{ include('common/elements/iconlist.twig', {icons: files[path].files}, with_context = false) }}
        {% else %}
            <ul>
                {% if files[path].name == 'Backgrounds' %}
                    {% set subDirName = 'background' %}
                {% elseif files[path].name == 'Emblems' %}
                    {% set subDirName = 'emblem' %}
                {% elseif files[path].name == 'Merged crests (cached)' %}
                    {% set subDirName = 'merged' %}
                {% endif %}
                {% for dir in files[path].dirs %}
                    <li><a href="/fftracker/crests/{{ subDirName }}/{{ dir.dirname }}">{{ dir.dirname }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if files[path].parent %}
            <a class="middle block nodecor" href="{{ files[path].parent.href }}" data-tooltip="Parent folder"><img loading="lazy" decoding="async" alt="Parent folder" src="/assets/images/navigation/folderUp.svg" class="linkIcon">{{ files[path].parent.name }}</a>
        {% endif %}
    </section>
{% endif %}
