<section>
    <article class="margin_05rem">
        <details {% if not subservice_name %}class="persistent" open{% endif %}>
            <summary class="right_summary about_section">About</summary>
            <p>The service to track different information for Free Companies (guilds), PvP Teams, Linkshells (chat groups) and individual characters for <b>Final Fantasy XIV</b> online game developed and published by <a href="https://www.square-enix.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/icons/SquareEnix.svg" alt="Square Enix">Square Enix</a>. Utilizes data grabbed from official <a href="https://eu.finalfantasyxiv.com/lodestone" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/icons/lodestone.svg" alt="Lodestone">Lodestone</a> with special <a href="https://github.com/Simbiat/lodestone-php" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/social/github.svg" alt="Github">parser</a>.</p>
            <p>The service has an official <a href="https://forum.square-enix.com/ffxiv/threads/304191-Free-Company-Tracker-Page" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/icons/lodestone.svg" alt="Lodestone Forum">thread</a> on Lodestone forum.</p>
            <div id="se_copyright">"(C) SQUARE ENIX CO., LTD. All Rights Reserved. FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd. All material used under license."</div>
            {% if not subservice_name %}
                <p>Check statistics <a href="/fftracker/statistics" target="_self" itemprop="url"><span itemprop="name">here</span></a>.</p>
                <p>Browse different entities using the links below:</p>
                <ul>
                    <li><a href="/fftracker/characters" target="_self" itemprop="url"><span itemprop="name">Characters</span></a></li>
                    <li><a href="/fftracker/freecompanies" target="_self" itemprop="url"><span itemprop="name">Free Companies</span></a></li>
                    <li><a href="/fftracker/pvpteams" target="_self" itemprop="url"><span itemprop="name">PvP Teams</span></a></li>
                    <li><a href="/fftracker/linkshells" target="_self" itemprop="url"><span itemprop="name">Linkshells</span></a></li>
                    <li><a href="/fftracker/crossworld_linkshells" target="_self" itemprop="url"><span itemprop="name">Crossworld Linkshells</span></a></li>
                    <li><a href="/fftracker/achievements" target="_self" itemprop="url"><span itemprop="name">Achievements</span></a></li>
                </ul>
                <p>Use <a href="/fftracker/search" target="_self" itemprop="url"><span itemprop="name">search</span></a> to find something specific or <a href="/fftracker/track" target="_self" itemprop="url"><span itemprop="name">register</span></a> a new entity, if we do not have it.</p>
                <p>You can also check all crests used for free companies and PvP teams <a href="/fftracker/crests">here</a>.</p>
            {% endif %}
        </details>
    </article>
    {% if subservice_name == 'search' %}
        {{ include('common/elements/search.twig') }}
    {% endif %}
    {% if subservice_name %}
        {% if subservice_name == 'statistics' %}
            {{ include('fftracker/statistics.twig') }}
        {% else %}
            <article class="margin_05rem">
                {% if subservice_name == 'search' %}
                    {{ include('common/pages/search.twig') }}
                {% elseif subservice_name == 'characters' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subservice_name == 'freecompanies' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subservice_name == 'pvpteams' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subservice_name == 'linkshells' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subservice_name == 'crossworld_linkshells' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subservice_name == 'achievements' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subservice_name == 'points' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subservice_name == 'character' %}
                    {{ include('fftracker/character.twig') }}
                {% elseif subservice_name == 'linkshell' %}
                    {{ include('fftracker/linkshell.twig') }}
                {% elseif subservice_name == 'crossworld_linkshell' %}
                    {{ include('fftracker/linkshell.twig') }}
                {% elseif subservice_name == 'pvpteam' %}
                    {{ include('fftracker/pvpteam.twig') }}
                {% elseif subservice_name == 'achievement' %}
                    {{ include('fftracker/achievement.twig') }}
                {% elseif subservice_name == 'freecompany' %}
                    {{ include('fftracker/freecompany.twig') }}
                {% elseif subservice_name == 'track' %}
                    {{ include('fftracker/track.twig') }}
                {% elseif subservice_name == 'crests' %}
                    {{ include('fftracker/crests.twig') }}
                {% endif %}
            </article>
        {% endif %}
    {% endif %}
</section>
