<section>
    <article class="margin05rem">
        <details {% if not subServiceName %}class="persistent" open{% endif %}>
            <summary class="rightSummary aboutSection">About</summary>
            <p>Service to track different information for Free Companies (guilds), PvP Teams, Linkshells (chat groups) and individual characters for <b>Final Fantasy XIV</b> online game developed and published by <a href="https://www.square-enix.com" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/assets/images/icons/SquareEnix.svg" alt="Square Enix">Square Enix</a>. Utilizes data grabbed from official <a href="https://eu.finalfantasyxiv.com/lodestone" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/assets/images/icons/lodestone.svg" alt="Lodestone">Lodestone</a> with special <a href="https://github.com/Simbiat/lodestone-php" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/assets/images/social/github.svg" alt="Github">parser</a>.</p>
            <p>Service has an official <a href="https://forum.square-enix.com/ffxiv/threads/304191-Free-Company-Tracker-Page" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/assets/images/icons/lodestone.svg" alt="Lodestone Forum">thread</a> on Lodestone forum.</p>
            <div id="se_copyright">"(C) SQUARE ENIX CO., LTD. All Rights Reserved. FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd. All material used under license."</div>
            {% if not subServiceName %}
                <p>Check statistics <a href="/fftracker/statistics" target="_self" itemprop="url"><span itemprop="name">here</span></a>.</p>
                <p>Browse different entities using links below:</p>
                <ul>
                    <li><a href="/fftracker/characters" target="_self" itemprop="url"><span itemprop="name">Characters</span></a></li>
                    <li><a href="/fftracker/freecompanies" target="_self" itemprop="url"><span itemprop="name">Free Companies</span></a></li>
                    <li><a href="/fftracker/pvpteams" target="_self" itemprop="url"><span itemprop="name">PvP Teams</span></a></li>
                    <li><a href="/fftracker/linkshells" target="_self" itemprop="url"><span itemprop="name">Linkshells</span></a></li>
                    <li><a href="/fftracker/crossworld_linkshells" target="_self" itemprop="url"><span itemprop="name">Crossworld Linkshells</span></a></li>
                    <li><a href="/fftracker/achievements" target="_self" itemprop="url"><span itemprop="name">Achievements</span></a></li>
                </ul>
                <p>Use <a href="/fftracker/search" target="_self" itemprop="url"><span itemprop="name">search</span></a> to find something specific or <a href="/fftracker/track" target="_self" itemprop="url"><span itemprop="name">register</span></a> a new entity, if we do not have it.</p>
                <p>You can also check all crests used for free companies and PvP teams <a href="/fftracker/crests">here</a>.</p>
            {% endif %}
        </details>
    </article>
    <article class="margin05rem">
        <p class="warning">Due to data growing so much, that it started affecting the server overall up to a state of not really running (details on GitHub <a href="https://github.com/Simbiat/simbiat.ru/issues/290" target="_blank">here</a>), data updates have been temporarily stopped. Character pages will not be displayed at all, since it will not be possible to make them private, so treating them all as private temporarily.</p>
    </article>
    {% if subServiceName == 'search' %}
        {{ include('common/elements/search.twig') }}
    {% endif %}
    {% if subServiceName %}
        {% if subServiceName == 'statistics' %}
            {{ include('fftracker/statistics.twig') }}
        {% else %}
            <article class="margin05rem">
                {% if subServiceName == 'search' %}
                    {{ include('common/pages/search.twig') }}
                {% elseif subServiceName == 'characters' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subServiceName == 'freecompanies' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subServiceName == 'pvpteams' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subServiceName == 'linkshells' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subServiceName == 'crossworld_linkshells' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subServiceName == 'achievements' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subServiceName == 'points' %}
                    {{ include('common/pages/list.twig') }}
                {% elseif subServiceName == 'character' %}
                    {{ include('fftracker/character.twig') }}
                {% elseif subServiceName == 'linkshell' %}
                    {{ include('fftracker/linkshell.twig') }}
                {% elseif subServiceName == 'crossworld_linkshell' %}
                    {{ include('fftracker/linkshell.twig') }}
                {% elseif subServiceName == 'pvpteam' %}
                    {{ include('fftracker/pvpteam.twig') }}
                {% elseif subServiceName == 'achievement' %}
                    {{ include('fftracker/achievement.twig') }}
                {% elseif subServiceName == 'freecompany' %}
                    {{ include('fftracker/freecompany.twig') }}
                {% elseif subServiceName == 'track' %}
                    {{ include('fftracker/track.twig') }}
                {% elseif subServiceName == 'crests' %}
                    {{ include('fftracker/crests.twig') }}
                {% endif %}
            </article>
        {% endif %}
    {% endif %}
</section>
