<section>
    <img loading="lazy" decoding="async" class="float_left ff_crest galleryZoom" alt="{{ freecompany.name }}"
        {% if freecompany.crest %}
            src="{{ freecompany.crest }}"
        {% else %}
            {% if freecompany.grand_company == 'Order of the Twin Adder' %}
                src="/assets/images/fftracker/default-crests/OrderOfTheTwinAdder.webp"
            {% elseif freecompany.grand_company == 'Immortal Flames' %}
                src="/assets/images/fftracker/default-crests/ImmortalFlames.webp"
            {% else %}
                src="/assets/images/fftracker/default-crests/Maelstrom.webp"
            {% endif %}
        {% endif %}
    >
    {% if freecompany.linked %}
        <p>
            You are a linked member of this free company. Press this button to force update the data.
        </p>
        <input class="refresh" id="ff_refresh" alt="Update free company" data-tooltip="Update free company" type="image" data-link="/api/fftracker/freecompanies/{{ freecompany.id }}/update" src="/assets/images/refresh.svg">
    {% endif %}
    <p>Rank <i>{{ freecompany.rank }}</i> Free Company <b>"{{ freecompany.name }}"</b> was formed on {{ timeTag(freecompany.dates.formed, "d/m/Y") }} and registered on {{ timeTag(freecompany.dates.registered, "d/m/Y") }} with ID <i>{{ freecompany.id }}</i>. Last set of interviews conducted on {{ timeTag(freecompany.dates.updated, "d/m/Y H:i") }}.{% if freecompany.dates.deleted %} <span class="failure">Was disbanded on {{ timeTag(freecompany.dates.deleted, "d/m/Y") }}.</span>{% endif %}</p>
    {% if freecompany.slogan %}
        <p>{% if freecompany.dates.deleted %}Had{% else %}has{% endif %} the following slogan:</p>
        <blockquote class="w100pc">{{ sanitize(freecompany.slogan) }}</blockquote>
    {% endif %}
    <p>
        Operate{% if freecompany.dates.deleted %}d{% else %}s{% endif %} on <i>{{ freecompany.location.server }}</i>, <i>{{ freecompany.location.data_center }}</i>{% if freecompany.grand_company %},{% if freecompany.tag %} leaving tags <b>"{{ freecompany.tag }}"</b> all over the place and{% endif %} increasing glory of {% if freecompany.crest %}<img loading="lazy" decoding="async" class="linkIcon galleryZoom" alt="{{ freecompany.grand_company }}"
        {% if freecompany.grand_company == 'Order of the Twin Adder' %}
            src="/assets/images/fftracker/cities/2.webp"
        {% elseif freecompany.grand_company == 'Immortal Flames' %}
            src="/assets/images/fftracker/cities/5.webp"
        {% elseif freecompany.grand_company == 'Maelstrom' %}
            src="/assets/images/fftracker/cities/4.webp"
        {% endif %}
        >{% endif %}<i>{{ freecompany.grand_company }}</i>{% endif %}.
        {% if freecompany.location.estate.ward %}
            {% if freecompany.dates.deleted %}Had{% else %}Has{% endif %} a
            {% if freecompany.location.estate.size == 1 %}
                small
            {% elseif freecompany.location.estate.size == 2 %}
                medium
            {% elseif freecompany.location.estate.size == 3 %}
                large
            {% endif %}
            {% if freecompany.location.estate.name %}
                base named <i>"{{ freecompany.location.estate.name }}"</i>
            {% else %}
                land
            {% endif %}
            on plot <i>{{ freecompany.location.estate.plot }}</i> in ward <i>{{ freecompany.location.estate.ward }}</i> of <i>{{ freecompany.location.estate.area }}</i>, {{ freecompany.location.estate.city }}, {{ freecompany.location.estate.region }} <a class="galleryZoom noNewTabIcon interactiveBorder" href="/assets/images/fftracker/maps/{{ freecompany.location.estate.area }}/{{ freecompany.location.estate.plot }}.webp" target="_blank" data-tooltip="{{ freecompany.location.estate.area }}, plot {{ freecompany.location.estate.plot }}"><img loading="lazy" decoding="async" class="linkIcon" alt="Show on map" data-tooltip="Show on map" src="/assets/images/fftracker/zoom.webp"></a>.
        {% endif %}
    </p>
    {% if freecompany.location.estate.message %}
        <p>{% if freecompany.dates.deleted %}Had{% else %}Has{% endif %} this message on its plot placard:</p>
        <blockquote class="w100pc">{{ sanitize(freecompany.location.estate.message) }}</blockquote>
    {% endif %}
    {% if freecompany.focus['role-playing'] or freecompany.focus.leveling or freecompany.focus.casual or freecompany.focus.hardcore or freecompany.focus.dungeons or freecompany.focus.guildhests or freecompany.focus.trials or freecompany.focus.raids or freecompany.focus.PvP %}
        <p>Participate{% if freecompany.dates.deleted %}d{% else %}s{% endif %} in:</p>
        <ul class="flexList">
            {% for focus, value in freecompany.focus %}
                {% if value %}<li><img loading="lazy" decoding="async" alt="{{ focus|capitalize }}" class="linkIcon" src="/assets/images/fftracker/focus/{{ focus }}.webp">{{ focus|capitalize }}</li>{% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if not freecompany.dates.deleted %}
        {% if freecompany.community %} Has an open <a href="https://eu.finalfantasyxiv.com/lodestone/community_finder/{{ freecompany.community }}" target="_blank">community</a>.{% endif %}
        {% if freecompany.recruiting == 1 %}
            <p>Is recruiting{% if freecompany.seeking.Tank or freecompany.seeking.healer or freecompany.seeking.DPS or freecompany.seeking.crafter or freecompany.seeking.gatherer %}:{% else %}, but does not specify whom.{% endif %}</p>
            {% if freecompany.seeking.tank or freecompany.seeking.healer or freecompany.seeking.DPS or freecompany.seeking.crafter or freecompany.seeking.gatherer %}
                <ul class="flexList">
                    {% for seeking, value in freecompany.seeking %}
                        {% if value %}<li><img loading="lazy" decoding="async" alt="{{ seeking|capitalize }}" class="linkIcon" src="/assets/images/fftracker/roles/{{ seeking }}.webp">{{ seeking|capitalize }}</li>{% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if freecompany.oldNames|length > 0 %}
        <p>Had also been known under <i>{{ freecompany.oldNames|length }}</i> other name{% if freecompany.oldNames|length > 1 %}s{% endif %}:</p>
        <ul>
            {% for name in freecompany.oldNames %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if freecompany.ranking|length > 0 %}
        <details>
            <summary>Company ranking history</summary>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Weekly</th>
                    <th>Monthly</th>
                    <th>Members</th>
                </tr>
                {% for rank in freecompany.ranking %}
                    <tr>
                        <td>{{ timeTag(rank.date, "d/m/Y") }}</td>
                        <td>{{ rank.weekly }}</td>
                        <td>{{ rank.monthly }}</td>
                        <td>{{ rank.members }}</td>
                    </tr>
                {% endfor %}
            </table>
        </details>
    {% endif %}
    {% if freecompany.members|length > 0 %}
        <p>Current members:</p>
        <div class="search_results">
            {% for entity in freecompany.members %}
                {{ include('common/elements/entitycard.twig', entity) }}
            {% endfor %}
        </div>
    {% endif %}
</section>
