<tab-menu>
    <tab-names>
        <a class="tab_name{% if ffstats.category == 'characters' %} active{% endif %}" href="/fftracker/statistics/characters">Characters</a>
        <a class="tab_name{% if ffstats.category == 'groups' %} active{% endif %}" href="/fftracker/statistics/groups">Groups</a>
        <a class="tab_name{% if ffstats.category == 'achievements' %} active{% endif %}" href="/fftracker/statistics/achievements">Achievements</a>
        <a class="tab_name{% if ffstats.category == 'timelines' %} active{% endif %}" href="/fftracker/statistics/timelines">Timelines</a>
        <a class="tab_name{% if ffstats.category == 'bugs' %} active{% endif %}" href="/fftracker/statistics/bugs">Bugs</a>
        <a class="tab_name{% if ffstats.category == 'raw' %} active{% endif %}" href="/fftracker/statistics/raw">Raw</a>
        <a class="tab_name{% if ffstats.category == 'other' %} active{% endif %}" href="/fftracker/statistics/other">Other</a>
    </tab-names>
</tab-menu>
<section>
    {% if ffstats.category %}
        <article class="margin_05rem">
            {% if ffstats.category == 'characters' %}
                {{ include('fftracker/statistics/characters.twig') }}
            {% elseif ffstats.category == 'groups' %}
                {{ include('fftracker/statistics/groups.twig') }}
            {% elseif ffstats.category == 'achievements' %}
                {{ include('fftracker/statistics/achievements.twig') }}
            {% elseif ffstats.category == 'timelines' %}
                {{ include('fftracker/statistics/timelines.twig') }}
            {% elseif ffstats.category == 'bugs' %}
                {{ include('fftracker/statistics/bugs.twig') }}
            {% elseif ffstats.category == 'raw' %}
                {{ include('fftracker/statistics/raw.twig') }}
            {% elseif ffstats.category == 'other' %}
                {{ include('fftracker/statistics/other.twig') }}
            {% endif %}
        </article>
    {% endif %}
</section>
