<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/profile# article: https://ogp.me/ns/article# book: https://ogp.me/ns/book# website: https://ogp.me/ns/website#" itemscope itemtype="https://schema.org/Article">
    <head>
        {{ include('common/layout/metatags.twig') }}

        <!-- Generated links -->
        {{ linkTags(link_tags, 'head') }}
        {% if link_extra %}
            {{ linkTags(link_extra, 'head') }}
        {% endif %}

        <title>{% if title %}{{ title }} on {{ site_name }}{% else %}{{ site_name }}{% endif %}</title>

        {{ include('common/layout/scripts.twig') }}
        {% if http_error %}
            {% if not(error_page) and http_error in [305, 408, 409, 500, 501, 502, 503] and construction == false %}
                <meta http-equiv="refresh" content="60"/>
            {% endif %}
        {% endif %}
    </head>
    {% if reason == 'Teapot' %}
        {{ include('errors/418.twig') }}
    {% else %}
        <body>
            <nav id="navigation" aria-label="Primary" role="navigation" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                {{ include('common/layout/navigation.twig') }}
            </nav>
            <div id="content">
                <header>
                    {{ include('common/layout/header.twig') }}
                </header>
                <main role="main">
                    {% if http_error and (static_page == false or (static_page and http_error != 503)) and cached_page == false %}
                        <article id="http_error">
                            {% if construction == false %}
                                {% if http_error not in [503, 418] %}
                                    <p>An error code <span class="error">{{ http_error }}</span> was encountered while processing your request{% if not('httperror/'~http_error in url) %} to</p><code data-description="Failed URL">{{ url }}</code><p>page{% endif %}. Here's what the server has to say in its defence:</p>
                                {% endif %}
                                {{ include('errors/'~http_error~'.twig') }}
                                {% if http_error not in [503, 418] and session_data.prevPage %}
                                    <p>You can try going back to previous <a href="{{ session_data.prevPage }}">page</a>.</p>
                                {% endif %}
                            {% else %}
                                {{ include('errors/construction.twig') }}
                            {% endif %}
                            {% if not(error_page) and http_error in [305, 408, 409, 500, 501, 502, 503] %}
                                <p>Page will refresh in <time-r id="refresh_timer">60</time-r> seconds.</p>
                            {% endif %}
                        </article>
                    {% else %}
                        {% if pagination %}
                            {{ pagination(pagination.current, pagination.total, prefix=pagination.prefix) }}
                        {% endif %}
                        {{ include('common/layout/services.twig') }}
                        {% if pagination %}
                            {{ pagination(pagination.current, pagination.total, prefix=pagination.prefix) }}
                        {% endif %}
                    {% endif %}
                </main>
                <footer>
                    {{ include('common/layout/footer.twig') }}
                </footer>
            </div>
            {{ include('common/layout/sidebar.twig') }}
        <over-lays>
            {{ include('common/layout/gallery.twig') }}
            <tool-tip id="tooltip" role="tooltip" aria-label="Tooltip"></tool-tip>
            <snack-bar role="dialog"></snack-bar>
        </over-lays>
        {{ include('common/layout/templates.twig') }}
        </body>
    {% endif %}
</html>
