{% if service_name == 'bictracker' %}
    <p>Показано {{ search_result.entities|length }} ({{ 1+((pagination.current-1)*pagination.per) }} по {{ search_result.entities|length+((pagination.current-1)*100) }}) записей из {{ search_result.count }}.</p>
{% else %}
    <p>Showing {{ search_result.entities|length }} ({{ 1+((pagination.current-1)*pagination.per) }} to {{ search_result.entities|length+((pagination.current-1)*100) }}) from total of {{ search_result.count }}.</p>
{% endif %}
<{% if numbered %}ol{% else %}div{% endif %} class="search_results">
    {% for entity in search_result.entities %}
        {% if numbered %}<li><span class="no_select">{{ loop.index+((pagination.current-1)*pagination.per) }}.</span>{% endif %}
        {{ include('common/elements/entitycard.twig', entity) }}
        {% if numbered %}</li>{% endif %}
    {% endfor %}
</{% if numbered %}ol{% else %}div{% endif %}>
