<li id="{{ avatar.file_id|default('hash') }}">
    <span class="float_label">
        <input id="avatar_{{ avatar.file_id|default('hash') }}" type="radio"{% if avatar.current %} checked{% endif %}>
        <label for="avatar_{{ avatar.file_id|default('hash') }}">
            <img loading="lazy" decoding="async" alt="Avatar {{ number }}" src="{{ avatar.url }}" class="avatar">
        </label>
    </span>
    <input id="del_{{ avatar.file_id|default('hash') }}" alt="Delete avatar" type="image" class="delete_avatar{% if avatar and avatar.current %} hidden{% endif %}"{% if avatar and avatar.current %} disabled{% endif %} src="/assets/images/close.svg">
</li>
