<vertical-tabs class="vertical_tabs_links">
    <tab-names>
        <tab-name {% if subServiceName == 'profile' %}class="active" {% endif %}data-url="/uc/profile">Profile</tab-name>
        <tab-name {% if subServiceName == 'avatars' %}class="active" {% endif %}data-url="/uc/avatars">Avatars</tab-name>
        <tab-name {% if subServiceName == 'fftracker' %}class="active" {% endif %}data-url="/uc/fftracker">FFXIV</tab-name>
        <tab-name {% if subServiceName == 'emails' %}class="active" {% endif %}data-url="/uc/emails">Emails</tab-name>
        <tab-name {% if subServiceName == 'password' %}class="active" {% endif %}data-url="/uc/password">Password</tab-name>
        <tab-name {% if subServiceName == 'sessions' %}class="active" {% endif %}data-url="/uc/sessions">Sessions</tab-name>
        <tab-name class="danger{% if subServiceName == 'removal' %} active{% endif %}" data-url="/uc/removal">Removal</tab-name>
    </tab-names>
</vertical-tabs>
<section>
    {% if subServiceName %}
        <article class="margin05rem">
            {% if subServiceName == 'registration' %}
                {{ include('usercontrol/registration.twig') }}
            {% elseif subServiceName == 'activation' %}
                {{ include('usercontrol/activation.twig') }}
            {% elseif subServiceName == 'emails' %}
                {{ include('usercontrol/emails.twig') }}
            {% elseif subServiceName == 'unsubscribe' %}
                {{ include('usercontrol/unsubscribe.twig') }}
            {% elseif subServiceName == 'profile' %}
                {{ include('usercontrol/profile.twig') }}
            {% elseif subServiceName == 'password' %}
                {{ include('usercontrol/password.twig') }}
            {% elseif subServiceName == 'removal' %}
                {{ include('usercontrol/removal.twig') }}
            {% elseif subServiceName == 'avatars' %}
                {{ include('usercontrol/avatars.twig') }}
            {% elseif subServiceName == 'fftracker' %}
                {{ include('usercontrol/fftracker.twig') }}
            {% elseif subServiceName == 'sessions' %}
                {{ include('usercontrol/sessions.twig') }}
            {% endif %}
        </article>
    {% endif %}
</section>
