<tab-menu>
    <tab-names>
        <a class="tab_name{% if subservice_name == 'profile' %} active{% endif %}" href="/uc/profile">Profile</a>
        <a class="tab_name{% if subservice_name == 'avatars' %} active{% endif %}" href="/uc/avatars">Avatars</a>
        <a class="tab_name{% if subservice_name == 'fftracker' %} active{% endif %}" href="/uc/fftracker">FFXIV</a>
        <a class="tab_name{% if subservice_name == 'emails' %} active{% endif %}" href="/uc/emails">Emails</a>
        <a class="tab_name{% if subservice_name == 'password' %} active{% endif %}" href="/uc/password">Password</a>
        <a class="tab_name{% if subservice_name == 'sessions' %} active{% endif %}" href="/uc/sessions">Sessions</a>
        <a class="tab_name danger{% if subservice_name == 'removal' %} active{% endif %}" href="/uc/removal">Removal</a>
    </tab-names>
</tab-menu>
<section>
    {% if subservice_name %}
        <article class="margin_05rem">
            {% if subservice_name == 'registration' %}
                {{ include('usercontrol/registration.twig') }}
            {% elseif subservice_name == 'activation' %}
                {{ include('usercontrol/activation.twig') }}
            {% elseif subservice_name == 'emails' %}
                {{ include('usercontrol/emails.twig') }}
            {% elseif subservice_name == 'unsubscribe' %}
                {{ include('usercontrol/unsubscribe.twig') }}
            {% elseif subservice_name == 'profile' %}
                {{ include('usercontrol/profile.twig') }}
            {% elseif subservice_name == 'password' %}
                {{ include('usercontrol/password.twig') }}
            {% elseif subservice_name == 'removal' %}
                {{ include('usercontrol/removal.twig') }}
            {% elseif subservice_name == 'avatars' %}
                {{ include('usercontrol/avatars.twig') }}
            {% elseif subservice_name == 'fftracker' %}
                {{ include('usercontrol/fftracker.twig') }}
            {% elseif subservice_name == 'sessions' %}
                {{ include('usercontrol/sessions.twig') }}
            {% endif %}
        </article>
    {% endif %}
</section>
