<image-carousel>
    <div class="imageCarouselPrev">❰</div>
    <ul class="imageCarouselList">
        {% for image in images %}
            {%  if image.href %}
                <li>
                    <figure>
                        <a class="galleryZoom" href="{{ image.href }}" target="_blank">
                            <img loading="lazy" decoding="async" src="{% if image.thumb %}{{ image.thumb }}{% else %}{{ image.href }}{% endif %}" alt="{% if image.alt %}{{ image.alt }}{% else %}{{ basename(image.href) }}{% endif %}">
                            <div>{{ loop.index }}/{{ images|length }}</div>
                        </a>
                        <figcaption>{% if image.caption %}{{ sanitize(image.caption) }}{% else %}{% if image.alt %}{{ image.alt }}{% else %}{{ basename(image.href) }}{% endif %}{% endif %}</figcaption>
                    </figure>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="imageCarouselNext">❱</div>
</image-carousel>
