{# Set link variable based on type #}
{% if type == 'bic' %}
    {% set url = 'bictracker/bic' %}
{% elseif type == 'achievement' %}
    {% set url = 'fftracker/achievement' %}
{% elseif type == 'character' %}
    {% set url = 'fftracker/character' %}
{% elseif type == 'freecompany' %}
    {% set url = 'fftracker/freecompany' %}
{% elseif type == 'pvpteam' %}
    {% set url = 'fftracker/pvpteam' %}
{% elseif type == 'linkshell' %}
    {% if crossworld %}
        {% set url = 'fftracker/crossworld_linkshell' %}
    {% else %}
        {% set url = 'fftracker/linkshell' %}
    {% endif %}
{% endif %}
{# Actual card #}
<a class="entityCard{% if session_data.userid and userid and session_data.userid == userid %} ff_owned{% endif %}" href="/{{ url }}/{{ id|url_encode }}/{{ name|url_encode }}/" data-tooltip="{{ name }}">
    <span class="entityIcon">
        {% if type == 'bic' %}
            {% if DateOut %}
                <span class="emojiRed">&#10060;</span>
            {% else %}
                <span class="emojiGreen">&#10004;</span>
            {% endif %}
        {% elseif type == 'achievement' %}
            <img loading="lazy" decoding="async" alt="{{ name }}" src="/img/fftracker/icons/{{ icon }}">
        {% elseif type == 'character' %}
            <img loading="lazy" decoding="async" alt="{{ name }}" src="https://img2.finalfantasyxiv.com/f/{{ icon }}c0_96x96.jpg">
        {% elseif type == 'freecompany' %}
            {% if icon == '1' %}
                <img loading="lazy" decoding="async" alt="{{ name }}" src="/img/fftracker/default-crests/Maelstrom.webp">
            {% elseif icon == '2' %}
                <img loading="lazy" decoding="async" alt="{{ name }}" src="/img/fftracker/default-crests/OrderOfTheTwinAdder.webp">
            {% elseif icon == '3' %}
                <img loading="lazy" decoding="async" alt="{{ name }}" src="/img/fftracker/default-crests/ImmortalFlames.webp">
            {% else %}
                <img loading="lazy" decoding="async" alt="{{ name }}" src="/img/fftracker/merged-crests/{{ icon|slice(0,2) }}/{{ icon|slice(2,2) }}/{{ icon }}.png">
            {% endif %}
        {% elseif type == 'pvpteam' %}
            <img loading="lazy" decoding="async" alt="{{ name }}" src="/img/fftracker/merged-crests/{{ icon|slice(0,2) }}/{{ icon|slice(2,2) }}/{{ icon }}.png">
        {% elseif type == 'linkshell' %}
            <img loading="lazy" decoding="async" alt="{{ name }}" src="/img/fftracker/{% if crossworld %}crossworld_{% endif %}linkshell.webp">
        {% endif %}
    </span>
    <span class="entityName">
        {% if lsrankid and lsrankid != 3 %}
            <img class="entityRank" loading="lazy" decoding="async" alt="{{ rank }}" data-tooltip="{{ rank }}" src="/img/fftracker/lsranks/{{ lsrankid }}.webp">
        {% endif %}
        {% if pvprankid and pvprankid != 3 %}
            <img class="entityRank" loading="lazy" decoding="async" alt="{{ rank }}" data-tooltip="{{ rank }}" src="/img/fftracker/pvpranks/{{ pvprankid }}.webp">
        {% endif %}
        {% if rankid matches '/^\\d+$/' %}
            <img class="entityRank" loading="lazy" decoding="async" alt="{{ rank }}" data-tooltip="{{ rank }}" src="/img/fftracker/fcranks/{{ rankid }}.webp">
        {% endif %}
        {{ name }}{% if userid %}<sup>🔗</sup>{% endif %}
    </span>
    <span class="entityArrow">&#10151;</span>
</a>
