<image-upload>
    <div class="float_label_div">
        <input form="{{ formName }}" type="file" aria-required="false" id="{{ formName }}_file" name="{{ inputName }}">
        <label for="{{ formName }}_file">New avatar</label>
    </div>
    <img loading="lazy" decoding="async" alt="Preview of" src="/img/avatar.svg" class="{{ previewClasses }} hidden" id="{{ formName }}_preview">
</image-upload>
