<p>All data below is for {{ timeTag(ffstats.data.time, "d/m/Y") }}.</p>
{% for categoryname, category in ffstats.data.achievements %}
    <table>
        <caption><h2>Top 20 rarest "{{ categoryname }}" achievements</h2></caption>
        <tr>
            <th>Achievement</th>
            <th>Earned by</th>
        </tr>
        {% for row in category %}
            <tr>
                <td>{{ include('common/elements/entitycard.twig', row) }}</td>
                <td>{{ row.count }}</td>
            </tr>
        {% endfor %}
    </table>
{%endfor%}
<table>
    <caption><h2>20 most popular titles</h2></caption>
    <tr>
        <th>Title</th>
        <th>Used by</th>
    </tr>
    {% for datapoint in ffstats.data.titles.top %}
        <tr>
            <td><a href="/fftracker/achievements/{{ datapoint.achievementid }}">{{ datapoint.title }}</a></td>
            <td>{{ datapoint.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2>20 least popular titles</h2></caption>
    <tr>
        <th>Title</th>
        <th>Used by</th>
    </tr>
    {% for datapoint in ffstats.data.titles.bottom %}
        <tr>
            <td><a href="/fftracker/achievements/{{ datapoint.achievementid }}">{{ datapoint.title }}</a></td>
            <td>{{ datapoint.count }}</td>
        </tr>
    {% endfor %}
</table>
