<div id="ff_achievements" class="ff_tabcontent">
    <h2 class="ff_stat_title">Characters with no race/clan ({{statistics.bugs.noclan|length}} total)</h2>
    <div>
        <details><summary>Characters' links</summary>
            {% for row in statistics.bugs.noclan %}
                <a class="ff_bugresult" href="/fftracker/character/{{row.id}}/" title="{{row.name|raw}}"><span>{{row.name|raw}}</span></a>
            {%endfor%}
        </details>
    </div>
    <h2 class="ff_stat_title">Groups with no memebers ({{statistics.bugs.nomembers|length}} total)</h2>
    <div>
        <details><summary>Groups' links</summary>
            {% for row in statistics.bugs.nomembers %}
                <a class="ff_bugresult" href="/fftracker/{{row.type}}/{{row.id}}/" title="{{row.name|raw}}"><span>{{row.name|raw}}</span></a>
            {%endfor%}
        </details>
    </div>
</div>