<p>All data below is for {{ timeTag(ffstats.data.time, "d/m/Y") }}.</p>
{% if ffstats.data.bugs.noClan|length > 0 %}
    <h2>Characters with no clan</h2>
    <p>These are either characters that are freshly added to the tracker (which is normal) or those that have <var>----</var> instead of race/clan on Lodestone itself (which is a bug).</p>
    {% for character in ffstats.data.bugs.noClan %}
        {{ include('common/elements/entitycard.twig', character) }}
    {% endfor %}
{% else %}
    <p>No characters without a clan found.</p>
{% endif %}
{% if ffstats.data.bugs.noMembers|length > 0 %}
    <h2>Groups with no members</h2>
    <p>These are either groups that are freshly added to the tracker (which is normal) or those that do not have any members on Lodestone, which may mean, that these are groups pending removal from the game.</p>
    {% for group in ffstats.data.bugs.noMembers %}
        {{ include('common/elements/entitycard.twig', group) }}
    {% endfor %}
{% else %}
    <p>No active groups without members found.</p>
{% endif %}
{% if ffstats.data.bugs.duplicateNames|length > 0 %}
    <h2>Duplicate names</h2>
    <p>The game does not allow duplicate case-insensitive character names and duplicate case-sensitive group names on same server or datacenter. If there are duplicates, most likely one of the copy has name changed, and needs an update on tracker.</p>
    <table class="ff_duplicate_names">
        <tr>
            <th>Entity type</th>
            <th>Server or Data Center</th>
            <th>Duplicates</th>
        </tr>
        {% for entityType, servers in ffstats.data.bugs.duplicateNames %}
            {% for server, names in servers %}
                {% for duplicates in names %}
                    <tr>
                        <td>
                            {% if entityType == 'freecompany' %}
                                Free Company
                            {% elseif entityType == 'pvpteam' %}
                                PvP Team
                            {% elseif entityType == 'crossworldlinkshell' %}
                                Crossworld Linkshell
                            {% else %}
                                {{ entityType|capitalize }}
                            {% endif %}
                        </td>
                        <td>{{ server }}</td>
                        <td>
                            {% for duplicate in duplicates %}
                                {{ include('common/elements/entitycard.twig', duplicate) }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
{% else %}
    <p>No active groups without members found.</p>
{% endif %}
