<p>All data below is for {{ timeTag(ffstats.data.time, "d/m/Y") }}.</p>
<table>
    <caption><h2>Nameday popularity</h2></caption>
    <tr>
        <th>Nameday</th>
        <th>Characters</th>
    </tr>
    {% for datapoint in ffstats.data.namedays %}
        <tr>
            <td>{{ datapoint.value }}</td>
            <td>{{ datapoint.count }}</td>
        </tr>
    {% endfor %}
</table>
<table>
    <caption><h2 data-tooltip="All dates besides `Formed` are tracker-specific. `Formed` is based on Lodestone data.">Activity calendar</h2></caption>
    <tr>
        <th rowspan="2">Date</th>
        <th colspan="3">Formed</th>
        <th colspan="4">Added</th>
        <th colspan="4">Updated</th>
        <th colspan="4">Deleted</th>
    </tr>
    <tr>
        <th>Free Companies</th>
        <th>PvP Teams</th>
        <th>Linkshells</th>
        <th>Free Companies</th>
        <th>PvP Teams</th>
        <th>Linkshells</th>
        <th>Characters</th>
        <th>Free Companies</th>
        <th>PvP Teams</th>
        <th>Linkshells</th>
        <th>Characters</th>
        <th>Free Companies</th>
        <th>PvP Teams</th>
        <th>Linkshells</th>
        <th>Characters</th>
    </tr>
    {% for datekey, datapoint in ffstats.data.timelines %}
        <tr>
            <td>{{ timeTag(datekey, "Y.m.d") }}</td>
            <td>{{ datapoint.free_companies_formed|default(0) }}</td>
            <td>{{ datapoint.pvp_teams_formed|default(0) }}</td>
            <td>{{ datapoint.linkshells_formed|default(0) }}</td>
            <td>{{ datapoint.free_companies_registered|default(0) }}</td>
            <td>{{ datapoint.pvp_teams_registered|default(0) }}</td>
            <td>{{ datapoint.linkshells_registered|default(0) }}</td>
            <td>{{ datapoint.characters_registered|default(0) }}</td>
            <td>{{ datapoint.free_companies_updated|default(0) }}</td>
            <td>{{ datapoint.pvp_teams_updated|default(0) }}</td>
            <td>{{ datapoint.linkshells_updated|default(0) }}</td>
            <td>{{ datapoint.characters_updated|default(0) }}</td>
            <td>{{ datapoint.free_companies_deleted|default(0) }}</td>
            <td>{{ datapoint.pvp_teams_deleted|default(0) }}</td>
            <td>{{ datapoint.linkshells_deleted|default(0) }}</td>
            <td>{{ datapoint.characters_deleted|default(0) }}</td>
        </tr>
    {% endfor %}
</table>
