<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>
</head>
<body style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #17141f;color: #f5f0f0;">
<div style="width: 100%; background-color: #231f2e; text-align: center; border-bottom-color: #266373;border-bottom-width: 2px;border-bottom-style: solid;border-radius: 0 0 12px 12px;padding-bottom: 3px;">
    <a href="{{ domain }}" style="font-family: Georgia,Cambria,Times New Roman,Times,serif;font-size: 32px; letter-spacing: 4px; font-weight: 700; color: #266373; line-height: 32px; height: 32px;text-decoration: none;">
        <span style="text-decoration: none;">Simbiat</span>
        <span style="display:inline-block;"><img loading="lazy" decoding="async" alt="logo" id="logoIcon" style="height: 32px;width: 32px;" width="32" height="32" src="{{ domain }}/img/favicons/favicon-32x32.png"></span>
        <span style="text-decoration: none;">Software</span>
    </a>
</div>
<div style="height: calc(100% - 72px);">
    <div style="background-color: #2e293d; width: 90%; margin:8px auto;padding: 8px 8px;border-width: 2px;border-radius: 12px;border-style: solid;border-color: #1a424d #266373 #266373 #1a424d;">
        <h1 style="width: 100%; font-size: 20px; text-align: center;">{{ subject }}</h1>
        <p>Hi, {{ username }}!</p>
        {% if subject == 'Account Activation' %}
            {{ include('mail/activation.twig') }}
        {% elseif subject == 'Password Reset' %}
            {{ include('mail/pwreset.twig') }}
        {% elseif subject == '[Alert]: Low space' or subject == '[Resolved]: Low space' %}
            {{ include('mail/nospace.twig') }}
        {% elseif subject == '[Alert]: Database is down' or subject == '[Resolved]: Database is down' %}
            {{ include('mail/dbdown.twig') }}
        {% endif %}
    </div>
</div>
<div style="font-size: xx-small;width: 100%; background-color: #231f2e; text-align: center; border-top-color: #1a424d;border-top-width: 2px;border-top-style: solid;border-radius: 12px 12px 0 0;padding-top: 3px;height: 25px;">
    <div>
        <a href="{{ domain }}/about/contacts" style="color:#9ad4ea;">contact us</a> or
        <a href="{{ domain }}/uc/unsubscribe/?token={{ unsubscribe|url_encode }}" style="color:#9ad4ea;">unsubscribe</a>
    </div>
    <div>
        Email generated on {{ 'now'|date('Y-m-d') }} at {{ 'now'|date('H:i:s') }} UTC
    </div>
</div>
</body>
</html>
