{% apply inline_css(source('@styles/email.css')) %}
    <html lang="en" style="height: 100% !important;">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ subject }}</title>
    </head>
    <body style="height: 100% !important;">
    <div id="content" style="height: 100% !important;">
        <div id="header">
            <div id="header_mail">
                <div class="header_text">Simbiat</div>
                <div id="logo_nav">
                    <img loading="lazy" decoding="async" alt="logo" id="logo_icon" class="cursor_pointer" data-tooltip="Simbiat Software" src="{{ email.image('@images/favicons/favicon-32x32.png') }}">
                </div>
                <div class="header_text">Software</div>
            </div>
            <div id="h1_div_mail">
                <h1 id="h1_title">{{ subject }}</h1>
            </div>
        </div>
        <div id="main" style="height: 100% !important; width: 100% !important;">
            <div class="article margin_05rem">
                <p>Hi, {{ username }}!</p>
                {% if subject == 'Account Activation' %}
                    {{ include('mail/activation.twig') }}
                {% elseif subject == 'Password Reset' %}
                    {{ include('mail/password_reset.twig') }}
                {% elseif subject == '[Alert]: Low space' or subject == '[Resolved]: Low space' %}
                    {{ include('mail/no_space.twig') }}
                {% elseif subject == '[Alert]: Database is down' or subject == '[Resolved]: Database is down' %}
                    {{ include('mail/db_down.twig') }}
                {% elseif subject == '[Alert]: Cron task failed' %}
                    {{ include('mail/cron.twig') }}
                {% elseif subject == '[Alert]: Error log found' %}
                    {{ include('mail/error_log.twig') }}
                {% endif %}
            </div>
        </div>
        <div id="footer">
            <div>
                <a href="{{ domain }}/about/contacts">Contact us</a>
                {% if unsubscribe %} or
                    <a href="{{ domain }}/uc/unsubscribe/?token={{ unsubscribe|url_encode }}">unsubscribe</a>
                {% endif %}
            </div>
            <div>
                Email generated on {{ 'now'|date('Y-m-d') }} at {{ 'now'|date('H:i:s') }} UTC
            </div>
        </div>
    </div>
    </body>
    </html>
{% endapply %}