{% if subject == '[Alert]: Low space' %}
    <p>{{ free }} out of {{ total }} ({{ percentage }}%) space left! Check ASAP!</p>
{% else %}
    <p>{{ free }} out of {{ total }} ({{ percentage }}%) space is now free. Alert resolved.</p>
{% endif %}
